## Importing libraries and helper functions

Importing libraries

In [1]:
%load_ext autoreload
%autoreload 2
#maths
import pandas as pd
import numpy as np

#apicalls, datacleaning
import requests
import json
from datetime import date, datetime, timedelta

#mysql
import mysql.connector 
from mysql.connector import errorcode

Importing helper functions

In [2]:
from mod3_functions import inflate_adj, inflate_adj_db

Importing config

In [ ]:
import config

In [3]:
api_key = config.api_key

## API calls

### Hourly demand on electricity in NY

In [107]:
demand_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=EBA.NYIS-ALL.D.HL'

In [108]:
response = requests.get(demand_url)
rsp=response.json()

In [111]:
#overview of results
rsp

{'request': {'command': 'series', 'series_id': 'EBA.NYIS-ALL.D.HL'},
 'series': [{'series_id': 'EBA.NYIS-ALL.D.HL',
   'name': 'Demand for New York Independent System Operator (NYIS), hourly - local time',
   'units': 'megawatthours',
   'f': 'HL',
   'description': 'Timestamps follow the ISO8601 standard (https://en.wikipedia.org/wiki/ISO_8601). Hourly representations are provided in local time for the balancing authority or region.',
   'start': '20150701T01-04',
   'end': '20191004T08-04',
   'updated': '2019-10-04T09:47:16-0400',
   'data': [['20191004T08-04', 16540],
    ['20191004T07-04', 15336],
    ['20191004T06-04', 13699],
    ['20191004T05-04', 12902],
    ['20191004T04-04', 12777],
    ['20191004T03-04', 12904],
    ['20191004T02-04', 13199],
    ['20191004T01-04', 13700],
    ['20191004T00-04', 14579],
    ['20191003T23-04', 15753],
    ['20191003T22-04', 16859],
    ['20191003T21-04', 17727],
    ['20191003T20-04', 18184],
    ['20191003T19-04', 18209],
    ['20191003T18-04', 18065],
    ['20191003T17-04', 17824],
    ['20191003T16-04', 17642],
    ['20191003T15-04', 17683],
    ['20191003T14-04', 17775],
    ['20191003T13-04', 17844],
    ['20191003T12-04', 17916],
    ['20191003T11-04', 17931],
    ['20191003T10-04', 17801],
    ['20191003T09-04', 17509],
    ['20191003T08-04', 17016],
    ['20191003T07-04', 15947],
    ['20191003T06-04', 14418],
    ['20191003T05-04', 13743],
    ['20191003T04-04', 13781],
    ['20191003T03-04', 14111],
    ['20191003T02-04', 14729],
    ['20191003T01-04', 15637],
    ['20191003T00-04', 16859],
    ['20191002T23-04', 18462],
    ['20191002T22-04', 20151],
    ['20191002T21-04', 21505],
    ['20191002T20-04', 22483],
    ['20191002T19-04', 22898],
    ['20191002T18-04', 23369],
    ['20191002T17-04', 23649],
    ['20191002T16-04', 23774],
    ['20191002T15-04', 23576],
    ['20191002T14-04', 23292],
    ['20191002T13-04', 22709],
    ['20191002T12-04', 22144],
    ['20191002T11-04', 21498],
    ['20191002T10-04', 20706],
    ['20191002T09-04', 19961],
    ['20191002T08-04', 19141],
    ['20191002T07-04', 17854],
    ['20191002T06-04', 16062],
    ['20191002T05-04', 15172],
    ['20191002T04-04', 15088],
    ['20191002T03-04', 15299],
    ['20191002T02-04', 15696],
    ['20191002T01-04', 16421],
    ['20191002T00-04', 17491],
    ['20191001T23-04', 18823],
    ['20191001T22-04', 20138],
    ['20191001T21-04', 21215],
    ['20191001T20-04', 21878],
    ['20191001T19-04', 21798],
    ['20191001T18-04', 21982],
    ['20191001T17-04', 21816],
    ['20191001T16-04', 21329],
    ['20191001T15-04', 20643],
    ['20191001T14-04', 20058],
    ['20191001T13-04', 19549],
    ['20191001T12-04', 19168],
    ['20191001T11-04', 18884],
    ['20191001T10-04', 18569],
    ['20191001T09-04', 17980],
    ['20191001T08-04', 17130],
    ['20191001T07-04', 15935],
    ['20191001T06-04', 14275],
    ['20191001T05-04', 13446],
    ['20191001T04-04', 13287],
    ['20191001T03-04', 13407],
    ['20191001T02-04', 13714],
    ['20191001T01-04', 14276],
    ['20191001T00-04', 15092],
    ['20190930T23-04', 16211],
    ['20190930T22-04', 17285],
    ['20190930T21-04', 18255],
    ['20190930T20-04', 18844],
    ['20190930T19-04', 18786],
    ['20190930T18-04', 18715],
    ['20190930T17-04', 18585],
    ['20190930T16-04', 18498],
    ['20190930T15-04', 18446],
    ['20190930T14-04', 18219],
    ['20190930T13-04', 17979],
    ['20190930T12-04', 17776],
    ['20190930T11-04', 17622],
    ['20190930T10-04', 17409],
    ['20190930T09-04', 17084],
    ['20190930T08-04', 16526],
    ['20190930T07-04', 15520],
    ['20190930T06-04', 14125],
    ['20190930T05-04', 13280],
    ['20190930T04-04', 13103],
    ['20190930T03-04', 13290],
    ['20190930T02-04', 13675],
    ['20190930T01-04', 14240],
    ['20190930T00-04', 15027],
    ['20190929T23-04', 16091],
    ['20190929T22-04', 17105],
    ['20190929T21-04', 17926],
    ['20190929T20-04', 18540],
    ['20190929T19-04', 18404],
    ['20190929T18-04', 18496],
    ['20190929T17-04', 18360],
    ['20190929T16-04', 17992],
    ['20190929T15-04', 17774],
    ['20190929T14-04', 17496],
    ['20190929T13-04', 17256],
    ['20190929T12-04', 16933],
    ['20190929T11-04', 16622],
    ['20190929T10-04', 16196],
    ['20190929T09-04', 15660],
    ['20190929T08-04', 14911],
    ['20190929T07-04', 14513],
    ['20190929T06-04', 14221],
    ['20190929T05-04', 14221],
    ['20190929T04-04', 14454],
    ['20190929T03-04', 14851],
    ['20190929T02-04', 15366],
    ['20190929T01-04', 16108],
    ['20190929T00-04', 17012],
    ['20190928T23-04', 17962],
    ['20190928T22-04', 18769],
    ['20190928T21-04', 19406],
    ['20190928T20-04', 19792],
    ['20190928T19-04', 19640],
    ['20190928T18-04', 19653],
    ['20190928T17-04', 19477],
    ['20190928T16-04', 19078],
    ['20190928T15-04', 18736],
    ['20190928T14-04', 18272],
    ['20190928T13-04', 17874],
    ['20190928T12-04', 17446],
    ['20190928T11-04', 17032],
    ['20190928T10-04', 16499],
    ['20190928T09-04', 15773],
    ['20190928T08-04', 14797],
    ['20190928T07-04', 14104],
    ['20190928T06-04', 13516],
    ['20190928T05-04', 13230],
    ['20190928T04-04', 13250],
    ['20190928T03-04', 13476],
    ['20190928T02-04', 13871],
    ['20190928T01-04', 14492],
    ['20190928T00-04', 15411],
    ['20190927T23-04', 16493],
    ['20190927T22-04', 17390],
    ['20190927T21-04', 18165],
    ['20190927T20-04', 18770],
    ['20190927T19-04', 18698],
    ['20190927T18-04', 19049],
    ['20190927T17-04', 19054],
    ['20190927T16-04', 18753],
    ['20190927T15-04', 18462],
    ['20190927T14-04', 18255],
    ['20190927T13-04', 18009],
    ['20190927T12-04', 17878],
    ['20190927T11-04', 17693],
    ['20190927T10-04', 17488],
    ['20190927T09-04', 17218],
    ['20190927T08-04', 16700],
    ['20190927T07-04', 15666],
    ['20190927T06-04', 14135],
    ['20190927T05-04', 13410],
    ['20190927T04-04', 13323],
    ['20190927T03-04', 13502],
    ['20190927T02-04', 13954],
    ['20190927T01-04', 14573],
    ['20190927T00-04', 15536],
    ['20190926T23-04', 16774],
    ['20190926T22-04', 18047],
    ['20190926T21-04', 19091],
    ['20190926T20-04', 19711],
    ['20190926T19-04', 19704],
    ['20190926T18-04', 20043],
    ['20190926T17-04', 20445],
    ['20190926T16-04', 20744],
    ['20190926T15-04', 20864],
    ['20190926T14-04', 20651],
    ['20190926T13-04', 20255],
    ['20190926T12-04', 19854],
    ['20190926T11-04', 19315],
    ['20190926T10-04', 18793],
    ['20190926T09-04', 18184],
    ['20190926T08-04', 17418],
    ['20190926T07-04', 16310],
    ['20190926T06-04', 14658],
    ['20190926T05-04', 13890],
    ['20190926T04-04', 13792],
    ['20190926T03-04', 13993],
    ['20190926T02-04', 14450],
    ['20190926T01-04', 15154],
    ['20190926T00-04', 16189],
    ['20190925T23-04', 17527],
    ['20190925T22-04', 18875],
    ['20190925T21-04', 19793],
    ['20190925T20-04', 20324],
    ['20190925T19-04', 20211],
    ['20190925T18-04', 20520],
    ['20190925T17-04', 20345],
    ['20190925T16-04', 19833],
    ['20190925T15-04', 19367],
    ['20190925T14-04', 18986],
    ['20190925T13-04', 18602],
    ['20190925T12-04', 18284],
    ['20190925T11-04', 17991],
    ['20190925T10-04', 17670],
    ['20190925T09-04', 17344],
    ['20190925T08-04', 16781],
    ['20190925T07-04', 15720],
    ['20190925T06-04', 14188],
    ['20190925T05-04', 13457],
    ['20190925T04-04', 13373],
    ['20190925T03-04', 13597],
    ['20190925T02-04', 14016],
    ['20190925T01-04', 14640],
    ['20190925T00-04', 15601],
    ['20190924T23-04', 16912],
    ['20190924T22-04', 18167],
    ['20190924T21-04', 19322],
    ['20190924T20-04', 20009],
    ['20190924T19-04', 19935],
    ['20190924T18-04', 20221],
    ['20190924T17-04', 20196],
    ['20190924T16-04', 20026],
    ['20190924T15-04', 19887],
    ['20190924T14-04', 19902],
    ['20190924T13-04', 19811],
    ['20190924T12-04', 19682],
    ['20190924T11-04', 19521],
    ['20190924T10-04', 19282],
    ['20190924T09-04', 18782],
    ['20190924T08-04', 18359],
    ['20190924T07-04', 17365],
    ['20190924T06-04', 15806],
    ['20190924T05-04', 15206],
    ['20190924T04-04', 15281],
    ['20190924T03-04', 15698],
    ['20190924T02-04', 16436],
    ['20190924T01-04', 17438],
    ['20190924T00-04', 18732],
    ['20190923T23-04', 20368],
    ['20190923T22-04', 21894],
    ['20190923T21-04', 23119],
    ['20190923T20-04', 23873],
    ['20190923T19-04', 23920],
    ['20190923T18-04', 24369],
    ['20190923T17-04', 24587],
    ['20190923T16-04', 24482],
    ['20190923T15-04', 24111],
    ['20190923T14-04', 23643],
    ['20190923T13-04', 23014],
    ['20190923T12-04', 22392],
    ['20190923T11-04', 21700],
    ['20190923T10-04', 20952],
    ['20190923T09-04', 20249],
    ['20190923T08-04', 19394],
    ['20190923T07-04', 18155],
    ['20190923T06-04', 16450],
    ['20190923T05-04', 15654],
    ['20190923T04-04', 15548],
    ['20190923T03-04', 15757],
    ['20190923T02-04', 16213],
    ['20190923T01-04', 16870],
    ['20190923T00-04', 17847],
    ['20190922T23-04', 19179],
    ['20190922T22-04', 20400],
    ['20190922T21-04', 21348],
    ['20190922T20-04', 21696],
    ['20190922T19-04', 21503],
    ['20190922T18-04', 21661],
    ['20190922T17-04', 21382],
    ['20190922T16-04', 20854],
    ['20190922T15-04', 20294],
    ['20190922T14-04', 19655],
    ['20190922T13-04', 18879],
    ['20190922T12-04', 17989],
    ['20190922T11-04', 17077],
    ['20190922T10-04', 16159],
    ['20190922T09-04', 15235],
    ['20190922T08-04', 14282],
    ['20190922T07-04', 13832],
    ['20190922T06-04', 13536],
    ['20190922T05-04', 13431],
    ['20190922T04-04', 13581],
    ['20190922T03-04', 13866],
    ['20190922T02-04', 14359],
    ['20190922T01-04', 15093],
    ['20190922T00-04', 16007],
    ['20190921T23-04', 17050],
    ['20190921T22-04', 17976],
    ['20190921T21-04', 18743],
    ['20190921T20-04', 19161],
    ['20190921T19-04', 19225],
    ['20190921T18-04', 19403],
    ['20190921T17-04', 19150],
    ['20190921T16-04', 18647],
    ['20190921T15-04', 18147],
    ['20190921T14-04', 17695],
    ['20190921T13-04', 17284],
    ['20190921T12-04', 16805],
    ['20190921T11-04', 16329],
    ['20190921T10-04', 15818],
    ['20190921T09-04', 15127],
    ['20190921T08-04', 14257],
    ['20190921T07-04', 13619],
    ['20190921T06-04', 13091],
    ['20190921T05-04', 12935],
    ['20190921T04-04', 13011],
    ['20190921T03-04', 13277],
    ['20190921T02-04', 13711],
    ['20190921T01-04', 14332],
    ['20190921T00-04', 15258],
    ['20190920T23-04', 16372],
    ['20190920T22-04', 17457],
    ['20190920T21-04', 18322],
    ['20190920T20-04', 18812],
    ['20190920T19-04', 18941],
    ['20190920T18-04', 19269],
    ['20190920T17-04', 19056],
    ['20190920T16-04', 18576],
    ['20190920T15-04', 18155],
    ['20190920T14-04', 17881],
    ['20190920T13-04', 17597],
    ['20190920T12-04', 17372],
    ['20190920T11-04', 17154],
    ['20190920T10-04', 16860],
    ['20190920T09-04', 16603],
    ['20190920T08-04', 16059],
    ['20190920T07-04', 15054],
    ['20190920T06-04', 13530],
    ['20190920T05-04', 12790],
    ['20190920T04-04', 12633],
    ['20190920T03-04', 12761],
    ['20190920T02-04', 13084],
    ['20190920T01-04', 13651],
    ['20190920T00-04', 14534],
    ['20190919T23-04', 15729],
    ['20190919T22-04', 16948],
    ['20190919T21-04', 17923],
    ['20190919T20-04', 18347],
    ['20190919T19-04', 18190],
    ['20190919T18-04', 18367],
    ['20190919T17-04', 18082],
    ['20190919T16-04', 17722],
    ['20190919T15-04', 17438],
    ['20190919T14-04', 17250],
    ['20190919T13-04', 17048],
    ['20190919T12-04', 16931],
    ['20190919T11-04', 16813],
    ['20190919T10-04', 16670],
    ['20190919T09-04', 16492],
    ['20190919T08-04', 16029],
    ['20190919T07-04', 15062],
    ['20190919T06-04', 13543],
    ['20190919T05-04', 12801],
    ['20190919T04-04', 12650],
    ['20190919T03-04', 12777],
    ['20190919T02-04', 13116],
    ['20190919T01-04', 13640],
    ['20190919T00-04', 14527],
    ['20190918T23-04', 15742],
    ['20190918T22-04', 16989],
    ['20190918T21-04', 18012],
    ['20190918T20-04', 18469],
    ['20190918T19-04', 18406],
    ['20190918T18-04', 18607],
    ['20190918T17-04', 18466],
    ['20190918T16-04', 18165],
    ['20190918T15-04', 17966],
    ['20190918T14-04', 17876],
    ['20190918T13-04', 17687],
    ['20190918T12-04', 17622],
    ['20190918T11-04', 17489],
    ['20190918T10-04', 17296],
    ['20190918T09-04', 17093],
    ['20190918T08-04', 16611],
    ['20190918T07-04', 15578],
    ['20190918T06-04', 14037],
    ['20190918T05-04', 13313],
    ['20190918T04-04', 13230],
    ['20190918T03-04', 13398],
    ['20190918T02-04', 13774],
    ['20190918T01-04', 14351],
    ['20190918T00-04', 15262],
    ['20190917T23-04', 16517],
    ['20190917T22-04', 17844],
    ['20190917T21-04', 18913],
    ['20190917T20-04', 19387],
    ['20190917T19-04', 19487],
    ['20190917T18-04', 19874],
    ['20190917T17-04', 19781],
    ['20190917T16-04', 19397],
    ['20190917T15-04', 19022],
    ['20190917T14-04', 18734],
    ['20190917T13-04', 18471],
    ['20190917T12-04', 18264],
    ['20190917T11-04', 18057],
    ['20190917T10-04', 17757],
    ['20190917T09-04', 17408],
    ['20190917T08-04', 16841],
    ['20190917T07-04', 15801],
    ['20190917T06-04', 14322],
    ['20190917T05-04', 13630],
    ['20190917T04-04', 13560],
    ['20190917T03-04', 13835],
    ['20190917T02-04', 14265],
    ['20190917T01-04', 14974],
    ['20190917T00-04', 16098],
    ['20190916T23-04', 17549],
    ['20190916T22-04', 18930],
    ['20190916T21-04', 20027],
    ['20190916T20-04', 20527],
    ['20190916T19-04', 20525],
    ['20190916T18-04', 20767],
    ['20190916T17-04', 20661],
    ['20190916T16-04', 20386],
    ['20190916T15-04', 20268],
    ['20190916T14-04', 20014],
    ['20190916T13-04', 19822],
    ['20190916T12-04', 19699],
    ['20190916T11-04', 19453],
    ['20190916T10-04', 19244],
    ['20190916T09-04', 18845],
    ['20190916T08-04', 18124],
    ['20190916T07-04', 16955],
    ['20190916T06-04', 15305],
    ['20190916T05-04', 14472],
    ['20190916T04-04', 14291],
    ['20190916T03-04', 14443],
    ['20190916T02-04', 14836],
    ['20190916T01-04', 15474],
    ['20190916T00-04', 16413],
    ['20190915T23-04', 17620],
    ['20190915T22-04', 18729],
    ['20190915T21-04', 19594],
    ['20190915T20-04', 19879],
    ['20190915T19-04', 19739],
    ['20190915T18-04', 19913],
    ['20190915T17-04', 19717],
    ['20190915T16-04', 19286],
    ['20190915T15-04', 18961],
    ['20190915T14-04', 18575],
    ['20190915T13-04', 18105],
    ['20190915T12-04', 17609],
    ['20190915T11-04', 17101],
    ['20190915T10-04', 16435],
    ['20190915T09-04', 15564],
    ['20190915T08-04', 14617],
    ['20190915T07-04', 14168],
    ['20190915T06-04', 13879],
    ['20190915T05-04', 13821],
    ['20190915T04-04', 14001],
    ['20190915T03-04', 14270],
    ['20190915T02-04', 14768],
    ['20190915T01-04', 15377],
    ['20190915T00-04', 16165],
    ['20190914T23-04', 17030],
    ['20190914T22-04', 17809],
    ['20190914T21-04', 18300],
    ['20190914T20-04', 18409],
    ['20190914T19-04', 18188],
    ['20190914T18-04', 18081],
    ['20190914T17-04', 17882],
    ['20190914T16-04', 17709],
    ['20190914T15-04', 17616],
    ['20190914T14-04', 17557],
    ['20190914T13-04', 17465],
    ['20190914T12-04', 17284],
    ['20190914T11-04', 16936],
    ['20190914T10-04', 16386],
    ['20190914T09-04', 15590],
    ['20190914T08-04', 14666],
    ['20190914T07-04', 13938],
    ['20190914T06-04', 13373],
    ['20190914T05-04', 13108],
    ['20190914T04-04', 13097],
    ['20190914T03-04', 13285],
    ['20190914T02-04', 13649],
    ['20190914T01-04', 14180],
    ['20190914T00-04', 15051],
    ['20190913T23-04', 16105],
    ['20190913T22-04', 17083],
    ['20190913T21-04', 17831],
    ['20190913T20-04', 18139],
    ['20190913T19-04', 18190],
    ['20190913T18-04', 18549],
    ['20190913T17-04', 18606],
    ['20190913T16-04', 18485],
    ['20190913T15-04', 18383],
    ['20190913T14-04', 18338],
    ['20190913T13-04', 18216],
    ['20190913T12-04', 18064],
    ['20190913T11-04', 17887],
    ['20190913T10-04', 17595],
    ['20190913T09-04', 17273],
    ['20190913T08-04', 16701],
    ['20190913T07-04', 15674],
    ['20190913T06-04', 14238],
    ['20190913T05-04', 13545],
    ['20190913T04-04', 13497],
    ['20190913T03-04', 13733],
    ['20190913T02-04', 14227],
    ['20190913T01-04', 14923],
    ['20190913T00-04', 15947],
    ['20190912T23-04', 17348],
    ['20190912T22-04', 18769],
    ['20190912T21-04', 19914],
    ['20190912T20-04', 20493],
    ['20190912T19-04', 20710],
    ['20190912T18-04', 21179],
    ['20190912T17-04', 21301],
    ['20190912T16-04', 21342],
    ['20190912T15-04', 21537],
    ['20190912T14-04', 21833],
    ['20190912T13-04', 21995],
    ['20190912T12-04', 21998],
    ['20190912T11-04', 21836],
    ['20190912T10-04', 21411],
    ['20190912T09-04', 20863],
    ['20190912T08-04', 20078],
    ['20190912T07-04', 19009],
    ['20190912T06-04', 17386],
    ['20190912T05-04', 16665],
    ['20190912T04-04', 16697],
    ['20190912T03-04', 17060],
    ['20190912T02-04', 17690],
    ['20190912T01-04', 18601],
    ['20190912T00-04', 19947],
    ['20190911T23-04', 21582],
    ['20190911T22-04', 23237],
    ['20190911T21-04', 24574],
    ['20190911T20-04', 25158],
    ['20190911T19-04', 25515],
    ['20190911T18-04', 26080],
    ['20190911T17-04', 25850],
    ['20190911T16-04', 25212],
    ['20190911T15-04', 24394],
    ['20190911T14-04', 23613],
    ['20190911T13-04', 22667],
    ['20190911T12-04', 21932],
    ['20190911T11-04', 21156],
    ['20190911T10-04', 20465],
    ['20190911T09-04', 19708],
    ['20190911T08-04', 18765],
    ['20190911T07-04', 17537],
    ['20190911T06-04', 15865],
    ['20190911T05-04', 15066],
    ['20190911T04-04', 14927],
    ['20190911T03-04', 15163],
    ['20190911T02-04', 15591],
    ['20190911T01-04', 16301],
    ['20190911T00-04', 17323],
    ['20190910T23-04', 18663],
    ['20190910T22-04', 19974],
    ['20190910T21-04', 20950],
    ['20190910T20-04', 21193],
    ['20190910T19-04', 21119],
    ['20190910T18-04', 21329],
    ['20190910T17-04', 21137],
    ['20190910T16-04', 20686],
    ['20190910T15-04', 20225],
    ['20190910T14-04', 20019],
    ['20190910T13-04', 19772],
    ['20190910T12-04', 19600],
    ['20190910T11-04', 19326],
    ['20190910T10-04', 19013],
    ['20190910T09-04', 18479],
    ['20190910T08-04', 17759],
    ['20190910T07-04', 16533],
    ['20190910T06-04', 14878],
    ['20190910T05-04', 14032],
    ['20190910T04-04', 13903],
    ['20190910T03-04', 14069],
    ['20190910T02-04', 14445],
    ['20190910T01-04', 15081],
    ['20190910T00-04', 16120],
    ['20190909T23-04', 17456],
    ['20190909T22-04', 18778],
    ['20190909T21-04', 19796],
    ['20190909T20-04', 20077],
    ['20190909T19-04', 20171],
    ['20190909T18-04', 20413],
    ['20190909T17-04', 20273],
    ['20190909T16-04', 19985],
    ['20190909T15-04', 19715],
    ['20190909T14-04', 19488],
    ['20190909T13-04', 19220],
    ['20190909T12-04', 18924],
    ['20190909T11-04', 18623],
    ['20190909T10-04', 18248],
    ['20190909T09-04', 17753],
    ['20190909T08-04', 17053],
    ['20190909T07-04', 15966],
    ['20190909T06-04', 14436],
    ['20190909T05-04', 13630],
    ['20190909T04-04', 13486],
    ['20190909T03-04', 13627],
    ['20190909T02-04', 14015],
    ['20190909T01-04', 14670],
    ['20190909T00-04', 15579],
    ['20190908T23-04', 16625],
    ['20190908T22-04', 17634],
    ['20190908T21-04', 18361],
    ['20190908T20-04', 18404],
    ['20190908T19-04', 18114],
    ['20190908T18-04', 18017],
    ['20190908T17-04', 17685],
    ['20190908T16-04', 17400],
    ['20190908T15-04', 17070],
    ['20190908T14-04', 16680],
    ['20190908T13-04', 16317],
    ['20190908T12-04', 15913],
    ['20190908T11-04', 15560],
    ['20190908T10-04', 15160],
    ['20190908T09-04', 14459],
    ['20190908T08-04', 13674],
    ['20190908T07-04', 13208],
    ['20190908T06-04', 12990],

In [109]:
demand_dates =  pd.DataFrame(rsp["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x[:-3], '%Y%m%dT%H'))

0       2019-10-04 08:00:00
1       2019-10-04 07:00:00
2       2019-10-04 06:00:00
3       2019-10-04 05:00:00
4       2019-10-04 04:00:00
5       2019-10-04 03:00:00
6       2019-10-04 02:00:00
7       2019-10-04 01:00:00
8       2019-10-04 00:00:00
9       2019-10-03 23:00:00
10      2019-10-03 22:00:00
11      2019-10-03 21:00:00
12      2019-10-03 20:00:00
13      2019-10-03 19:00:00
14      2019-10-03 18:00:00
15      2019-10-03 17:00:00
16      2019-10-03 16:00:00
17      2019-10-03 15:00:00
18      2019-10-03 14:00:00
19      2019-10-03 13:00:00
20      2019-10-03 12:00:00
21      2019-10-03 11:00:00
22      2019-10-03 10:00:00
23      2019-10-03 09:00:00
24      2019-10-03 08:00:00
25      2019-10-03 07:00:00
26      2019-10-03 06:00:00
27      2019-10-03 05:00:00
28      2019-10-03 04:00:00
29      2019-10-03 03:00:00
                ...
37322   2015-07-02 06:00:00
37323   2015-07-02 05:00:00
37324   2015-07-02 04:00:00
37325   2015-07-02 03:00:00
37326   2015-07-02 02:00:00
37327   2015-07-02 01:00:00
37328   2015-07-02 00:00:00
37329   2015-07-01 23:00:00
37330   2015-07-01 22:00:00
37331   2015-07-01 21:00:00
37332   2015-07-01 20:00:00
37333   2015-07-01 19:00:00
37334   2015-07-01 18:00:00
37335   2015-07-01 17:00:00
37336   2015-07-01 16:00:00
37337   2015-07-01 15:00:00
37338   2015-07-01 14:00:00
37339   2015-07-01 13:00:00
37340   2015-07-01 12:00:00
37341   2015-07-01 11:00:00
37342   2015-07-01 10:00:00
37343   2015-07-01 09:00:00
37344   2015-07-01 08:00:00
37345   2015-07-01 07:00:00
37346   2015-07-01 06:00:00
37347   2015-07-01 05:00:00
37348   2015-07-01 04:00:00
37349   2015-07-01 03:00:00
37350   2015-07-01 02:00:00
37351   2015-07-01 01:00:00
Name: 0, Length: 37352, dtype: datetime64[ns]

In [19]:
demand_MWh = pd.DataFrame(rsp["series"][0]['data'])[1]

0        22483.0
1        22898.0
2        23369.0
3        23649.0
4        23774.0
5        23576.0
6        23292.0
7        22709.0
8        22144.0
9        21498.0
10       20706.0
11       19961.0
12       19141.0
13       17854.0
14       16062.0
15       15172.0
16       15088.0
17       15299.0
18       15696.0
19       16421.0
20       17491.0
21       18823.0
22       20138.0
23       21215.0
24       21878.0
25       21798.0
26       21982.0
27       21816.0
28       21329.0
29       20643.0
          ...
37286    15314.0
37287    14884.0
37288    14936.0
37289    15356.0
37290    16052.0
37291    17090.0
37292    18493.0
37293    20149.0
37294    21525.0
37295    21746.0
37296    22262.0
37297    22984.0
37298    23664.0
37299    23804.0
37300    23778.0
37301    23606.0
37302    23260.0
37303    22809.0
37304    22471.0
37305    21849.0
37306    20971.0
37307    19956.0
37308    18690.0
37309    17161.0
37310    15874.0
37311    15304.0
37312    15283.0
37313    15541.0
37314    16027.0
37315    16891.0
Name: 1, Length: 37316, dtype: float64

In [20]:
demand_NY = pd.concat([demand_dates,demand_MWh], axis=1)
demand_NY.columns = ["Date", "Demand [MWh]"]
demand_NY

                        0        1
0     2019-10-02 20:00:00  22483.0
1     2019-10-02 19:00:00  22898.0
2     2019-10-02 18:00:00  23369.0
3     2019-10-02 17:00:00  23649.0
4     2019-10-02 16:00:00  23774.0
5     2019-10-02 15:00:00  23576.0
6     2019-10-02 14:00:00  23292.0
7     2019-10-02 13:00:00  22709.0
8     2019-10-02 12:00:00  22144.0
9     2019-10-02 11:00:00  21498.0
10    2019-10-02 10:00:00  20706.0
11    2019-10-02 09:00:00  19961.0
12    2019-10-02 08:00:00  19141.0
13    2019-10-02 07:00:00  17854.0
14    2019-10-02 06:00:00  16062.0
15    2019-10-02 05:00:00  15172.0
16    2019-10-02 04:00:00  15088.0
17    2019-10-02 03:00:00  15299.0
18    2019-10-02 02:00:00  15696.0
19    2019-10-02 01:00:00  16421.0
20    2019-10-02 00:00:00  17491.0
21    2019-10-01 23:00:00  18823.0
22    2019-10-01 22:00:00  20138.0
23    2019-10-01 21:00:00  21215.0
24    2019-10-01 20:00:00  21878.0
25    2019-10-01 19:00:00  21798.0
26    2019-10-01 18:00:00  21982.0
27    2019-10-01 17:00:00  21816.0
28    2019-10-01 16:00:00  21329.0
29    2019-10-01 15:00:00  20643.0
...                   ...      ...
37286 2015-07-02 06:00:00  15314.0
37287 2015-07-02 05:00:00  14884.0
37288 2015-07-02 04:00:00  14936.0
37289 2015-07-02 03:00:00  15356.0
37290 2015-07-02 02:00:00  16052.0
37291 2015-07-02 01:00:00  17090.0
37292 2015-07-02 00:00:00  18493.0
37293 2015-07-01 23:00:00  20149.0
37294 2015-07-01 22:00:00  21525.0
37295 2015-07-01 21:00:00  21746.0
37296 2015-07-01 20:00:00  22262.0
37297 2015-07-01 19:00:00  22984.0
37298 2015-07-01 18:00:00  23664.0
37299 2015-07-01 17:00:00  23804.0
37300 2015-07-01 16:00:00  23778.0
37301 2015-07-01 15:00:00  23606.0
37302 2015-07-01 14:00:00  23260.0
37303 2015-07-01 13:00:00  22809.0
37304 2015-07-01 12:00:00  22471.0
37305 2015-07-01 11:00:00  21849.0
37306 2015-07-01 10:00:00  20971.0
37307 2015-07-01 09:00:00  19956.0
37308 2015-07-01 08:00:00  18690.0
37309 2015-07-01 07:00:00  17161.0
37310 2015-07-01 06:00:00  15874.0
37311 2015-07-01 05:00:00  15304.0
37312 2015-07-01 04:00:00  15283.0
37313 2015-07-01 03:00:00  15541.0
37314 2015-07-01 02:00:00  16027.0
37315 2015-07-01 01:00:00  16891.0

[37316 rows x 2 columns]

### Average monthly electricity retail price in NY

In [110]:
#all_sectors
monthly_retail_electricity_all_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.NY-ALL.M'

In [90]:
response2 = requests.get(monthly_retail_electricity_all_url)
rsp2=response2.json()

In [91]:
rsp2

{'request': {'command': 'series', 'series_id': 'ELEC.PRICE.NY-ALL.M'},
 'series': [{'series_id': 'ELEC.PRICE.NY-ALL.M',
   'name': 'Average retail price of electricity : New York : all sectors : monthly',
   'units': 'cents per kilowatthour',
   'f': 'M',
   'description': 'All end-use sectors that consume electricity; All end-use sectors that consume electricity; ',
   'copyright': 'None',
   'source': 'EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NY',
   'geography': 'USA-NY',
   'start': '200101',
   'end': '201907',
   'updated': '2019-09-23T17:31:34-0400',
   'data': [['201907', 15.43],
    ['201906', 14.8],
    ['201905', 13.87],
    ['201904', 13.5],
    ['201903', 13.42],
    ['201902', 13.82],
    ['201901', 13.68],
    ['201812', 13.6],
    ['201811', 14.17],
    ['201810', 15.26],
    ['201809', 16.1],
    ['201808', 15.78],
    ['201807', 16.22],
    ['201806', 15.47],
    ['201805', 14.32],
    ['201804', 13.88],
    ['201803', 13.84],
    ['201802', 14.35],
    ['201801', 14.68],
    ['201712', 13.71],
    ['201711', 14],
    ['201710', 15.02],
    ['201709', 15.73],
    ['201708', 15.72],
    ['201707', 15.91],
    ['201706', 15.65],
    ['201705', 14.61],
    ['201704', 13.76],
    ['201703', 14.16],
    ['201702', 13.77],
    ['201701', 14.19],
    ['201612', 13.93],
    ['201611', 14.13],
    ['201610', 14.81],
    ['201609', 15.63],
    ['201608', 15.51],
    ['201607', 15.37],
    ['201606', 14.95],
    ['201605', 13.74],
    ['201604', 13.8],
    ['201603', 13.67],
    ['201602', 13.71],
    ['201601', 13.55],
    ['201512', 14.09],
    ['201511', 14.19],
    ['201510', 15.08],
    ['201509', 15.79],
    ['201508', 15.76],
    ['201507', 15.91],
    ['201506', 15.45],
    ['201505', 14.72],
    ['201504', 14.39],
    ['201503', 15.91],
    ['201502', 16.07],
    ['201501', 15.36],
    ['201412', 15.38],
    ['201411', 15.34],
    ['201410', 15.59],
    ['201409', 16.38],
    ['201408', 16.27],
    ['201407', 16.89],
    ['201406', 16.51],
    ['201405', 15.47],
    ['201404', 15.29],
    ['201403', 17.08],
    ['201402', 17.81],
    ['201401', 16.57],
    ['201312', 14.74],
    ['201311', 14.15],
    ['201310', 15.17],
    ['201309', 16.3],
    ['201308', 16.24],
    ['201307', 16.94],
    ['201306', 16.03],
    ['201305', 14.71],
    ['201304', 14.24],
    ['201303', 15.07],
    ['201302', 15.88],
    ['201301', 15.02],
    ['201212', 14.72],
    ['201211', 14.46],
    ['201210', 15.21],
    ['201209', 16.05],
    ['201208', 15.77],
    ['201207', 16.43],
    ['201206', 15.89],
    ['201205', 14.69],
    ['201204', 14.39],
    ['201203', 14.35],
    ['201202', 14.34],
    ['201201', 14.64],
    ['201112', 14.72],
    ['201111', 14.92],
    ['201110', 15.79],
    ['201109', 16.64],
    ['201108', 17.11],
    ['201107', 17.2],
    ['201106', 16.79],
    ['201105', 15.65],
    ['201104', 15.1],
    ['201103', 15.09],
    ['201102', 15.37],
    ['201101', 15.49],
    ['201012', 15.69],
    ['201011', 15.9],
    ['201010', 16.14],
    ['201009', 16.64],
    ['201008', 17.25],
    ['201007', 18.24],
    ['201006', 17.33],
    ['201005', 16.48],
    ['201004', 15.86],
    ['201003', 15.29],
    ['201002', 15.76],
    ['201001', 15.54],
    ['200912', 15.44],
    ['200911', 14.67],
    ['200910', 15.77],
    ['200909', 16.44],
    ['200908', 16.43],
    ['200907', 16.48],
    ['200906', 15.89],
    ['200905', 14.78],
    ['200904', 14.1],
    ['200903', 14.39],
    ['200902', 14.99],
    ['200901', 15.38],
    ['200812', 14.76],
    ['200811', 15.01],
    ['200810', 15.83],
    ['200809', 17.6],
    ['200808', 18.81],
    ['200807', 18.92],
    ['200806', 17.98],
    ['200805', 16.34],
    ['200804', 15.81],
    ['200803', 15.02],
    ['200802', 15.22],
    ['200801', 15.24],
    ['200712', 15.08],
    ['200711', 14.71],
    ['200710', 15.26],
    ['200709', 15.51],
    ['200708', 16.33],
    ['200707', 15.98],
    ['200706', 15.92],
    ['200705', 15.22],
    ['200704', 14.73],
    ['200703', 14.71],
    ['200702', 14.44],
    ['200701', 14.33],
    ['200612', 14.43],
    ['200611', 14.65],
    ['200610', 15.62],
    ['200609', 16.3],
    ['200608', 16.66],
    ['200607', 16.33],
    ['200606', 15.67],
    ['200605', 14.62],
    ['200604', 14.42],
    ['200603', 14.11],
    ['200602', 14.91],
    ['200601', 14.75],
    ['200512', 14.53],
    ['200511', 14.72],
    ['200510', 15.37],
    ['200509', 15.31],
    ['200508', 15.21],
    ['200507', 14.58],
    ['200506', 13.96],
    ['200505', 13.08],
    ['200504', 12.56],
    ['200503', 12.5],
    ['200502', 12.38],
    ['200501', 12.42],
    ['200412', 12.34],
    ['200411', 12.35],
    ['200410', 12.93],
    ['200409', 13.49],
    ['200408', 13.67],
    ['200407', 13.7],
    ['200406', 12.85],
    ['200405', 11.95],
    ['200404', 11.63],
    ['200403', 11.78],
    ['200402', 11.93],
    ['200401', 11.62],
    ['200312', 11.67],
    ['200311', 11.9],
    ['200310', 12.87],
    ['200309', 13.3],
    ['200308', 13.42],
    ['200307', 13.48],
    ['200306', 12.81],
    ['200305', 12.34],
    ['200304', 12.51],
    ['200303', 12.15],
    ['200302', 11.53],
    ['200301', 11.05],
    ['200212', 10.84],
    ['200211', 10.54],
    ['200210', 11.49],
    ['200209', 11.77],
    ['200208', 12.16],
    ['200207', 12.29],
    ['200206', 11.52],
    ['200205', 10.69],
    ['200204', 10.45],
    ['200203', 10.53],
    ['200202', 10.33],
    ['200201', 10.67],
    ['200112', 10.87],
    ['200111', 10.61],
    ['200110', 11.83],
    ['200109', 12.02],
    ['200108', 12.69],
    ['200107', 13.26],
    ['200106', 11.46],
    ['200105', 10.97],
    ['200104', 10.7],
    ['200103', 11.01],
    ['200102', 11.17],
    ['200101', 11.53]]}]}

In [92]:
avg_price_all_dates =  pd.DataFrame(rsp2["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x, '%Y%m'))

0     2019-07-01
1     2019-06-01
2     2019-05-01
3     2019-04-01
4     2019-03-01
5     2019-02-01
6     2019-01-01
7     2018-12-01
8     2018-11-01
9     2018-10-01
10    2018-09-01
11    2018-08-01
12    2018-07-01
13    2018-06-01
14    2018-05-01
15    2018-04-01
16    2018-03-01
17    2018-02-01
18    2018-01-01
19    2017-12-01
20    2017-11-01
21    2017-10-01
22    2017-09-01
23    2017-08-01
24    2017-07-01
25    2017-06-01
26    2017-05-01
27    2017-04-01
28    2017-03-01
29    2017-02-01
         ...
193   2003-06-01
194   2003-05-01
195   2003-04-01
196   2003-03-01
197   2003-02-01
198   2003-01-01
199   2002-12-01
200   2002-11-01
201   2002-10-01
202   2002-09-01
203   2002-08-01
204   2002-07-01
205   2002-06-01
206   2002-05-01
207   2002-04-01
208   2002-03-01
209   2002-02-01
210   2002-01-01
211   2001-12-01
212   2001-11-01
213   2001-10-01
214   2001-09-01
215   2001-08-01
216   2001-07-01
217   2001-06-01
218   2001-05-01
219   2001-04-01
220   2001-03-01
221   2001-02-01
222   2001-01-01
Name: 0, Length: 223, dtype: datetime64[ns]

In [112]:
avg_price_cent_kWh = pd.DataFrame(rsp2["series"][0]['data'])[1]

In [94]:
avg_price_all_NY = pd.concat([avg_price_all_dates,avg_price_cent_kWh], axis = 1)
avg_price_all_NY

In [71]:
#residential
monthly_retail_electricity_res_url =f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.NY-RES.M'

In [72]:
response3 = requests.get(monthly_retail_electricity_res_url)
rsp3 = response3.json()

In [73]:
rsp3

{'request': {'command': 'series', 'series_id': 'ELEC.PRICE.NY-RES.M'},
 'series': [{'series_id': 'ELEC.PRICE.NY-RES.M',
   'name': 'Average retail price of electricity : New York : residential : monthly',
   'units': 'cents per kilowatthour',
   'f': 'M',
   'description': 'Electricity sold to residential customers; Electricity sold to residential customers; ',
   'copyright': 'None',
   'source': 'EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NY',
   'geography': 'USA-NY',
   'start': '200101',
   'end': '201907',
   'updated': '2019-09-23T17:31:34-0400',
   'data': [['201907', 18.65],
    ['201906', 18.56],
    ['201905', 17.38],
    ['201904', 17.56],
    ['201903', 16.86],
    ['201902', 17.64],
    ['201901', 17.29],
    ['201812', 17.34],
    ['201811', 18.17],
    ['201810', 19.29],
    ['201809', 19.28],
    ['201808', 19.03],
    ['201807', 19.38],
    ['201806', 19.3],
    ['201805', 18.52],
    ['201804', 18],
    ['201803', 17.53],
    ['201802', 18.2],
    ['201801', 17.75],
    ['201712', 16.99],
    ['201711', 17.8],
    ['201710', 18.74],
    ['201709', 18.8],
    ['201708', 18.56],
    ['201707', 18.79],
    ['201706', 18.74],
    ['201705', 18.53],
    ['201704', 17.3],
    ['201703', 17.02],
    ['201702', 17.48],
    ['201701', 17.3],
    ['201612', 17.17],
    ['201611', 17.73],
    ['201610', 18.26],
    ['201609', 18.36],
    ['201608', 17.99],
    ['201607', 17.93],
    ['201606', 17.87],
    ['201605', 17.71],
    ['201604', 17.38],
    ['201603', 16.79],
    ['201602', 16.76],
    ['201601', 16.56],
    ['201512', 17.5],
    ['201511', 18.23],
    ['201510', 18.3],
    ['201509', 18.38],
    ['201508', 18.38],
    ['201507', 18.71],
    ['201506', 18.76],
    ['201505', 18.06],
    ['201504', 17.72],
    ['201503', 18.92],
    ['201502', 19.75],
    ['201501', 19.28],
    ['201412', 19.26],
    ['201411', 19.45],
    ['201410', 19.43],
    ['201409', 19.41],
    ['201408', 19.51],
    ['201407', 20.48],
    ['201406', 20.88],
    ['201405', 20.59],
    ['201404', 19.54],
    ['201403', 20.9],
    ['201402', 21.69],
    ['201401', 19.57],
    ['201312', 18.18],
    ['201311', 18.49],
    ['201310', 18.88],
    ['201309', 19.56],
    ['201308', 19.14],
    ['201307', 20.03],
    ['201306', 19.32],
    ['201305', 18.35],
    ['201304', 17.67],
    ['201303', 18.16],
    ['201302', 19.1],
    ['201301', 17.93],
    ['201212', 17.47],
    ['201211', 17.44],
    ['201210', 18.44],
    ['201209', 18.52],
    ['201208', 18.12],
    ['201207', 18.38],
    ['201206', 18.31],
    ['201205', 17.33],
    ['201204', 16.71],
    ['201203', 16.64],
    ['201202', 16.51],
    ['201201', 16.79],
    ['201112', 17.26],
    ['201111', 17.93],
    ['201110', 18.78],
    ['201109', 18.84],
    ['201108', 19.25],
    ['201107', 19.22],
    ['201106', 19.07],
    ['201105', 18.3],
    ['201104', 17.63],
    ['201103', 17.58],
    ['201102', 17.45],
    ['201101', 17.25],
    ['201012', 17.72],
    ['201011', 18.25],
    ['201010', 18.36],
    ['201009', 20.09],
    ['201008', 19.35],
    ['201007', 20.11],
    ['201006', 19.41],
    ['201005', 19.21],
    ['201004', 18.92],
    ['201003', 17.55],
    ['201002', 18.05],
    ['201001', 17.3],
    ['200912', 17.51],
    ['200911', 16.82],
    ['200910', 18.17],
    ['200909', 18.78],
    ['200908', 18.19],
    ['200907', 18.65],
    ['200906', 18.21],
    ['200905', 16.87],
    ['200904', 16.5],
    ['200903', 16.39],
    ['200902', 16.75],
    ['200901', 16.86],
    ['200812', 16.63],
    ['200811', 16.97],
    ['200810', 17.58],
    ['200809', 19.5],
    ['200808', 20.93],
    ['200807', 19.75],
    ['200806', 19.41],
    ['200805', 18.74],
    ['200804', 18.05],
    ['200803', 16.93],
    ['200802', 17.32],
    ['200801', 16.87],
    ['200712', 16.66],
    ['200711', 16.94],
    ['200710', 17.48],
    ['200709', 17.15],
    ['200708', 17.96],
    ['200707', 17.27],
    ['200706', 18.17],
    ['200705', 17.5],
    ['200704', 17.14],
    ['200703', 16.83],
    ['200702', 15.89],
    ['200701', 16.09],
    ['200612', 15.88],
    ['200611', 16.33],
    ['200610', 17.22],
    ['200609', 17.92],
    ['200608', 17.74],
    ['200607', 17.56],
    ['200606', 17.33],
    ['200605', 16.56],
    ['200604', 16.36],
    ['200603', 15.89],
    ['200602', 16.66],
    ['200601', 16.61],
    ['200512', 16.53],
    ['200511', 17.57],
    ['200510', 17.36],
    ['200509', 16.69],
    ['200508', 16.16],
    ['200507', 15.63],
    ['200506', 15.58],
    ['200505', 15.36],
    ['200504', 14.64],
    ['200503', 14.4],
    ['200502', 14.53],
    ['200501', 14.05],
    ['200412', 14.29],
    ['200411', 14.88],
    ['200410', 14.93],
    ['200409', 15.1],
    ['200408', 15.32],
    ['200407', 15.36],
    ['200406', 14.99],
    ['200405', 14.2],
    ['200404', 14.03],
    ['200403', 13.98],
    ['200402', 14.02],
    ['200401', 13.32],
    ['200312', 13.63],
    ['200311', 14.23],
    ['200310', 14.75],
    ['200309', 14.92],
    ['200308', 14.94],
    ['200307', 15.14],
    ['200306', 14.98],
    ['200305', 14.77],
    ['200304', 14.55],
    ['200303', 13.91],
    ['200302', 13.3],
    ['200301', 12.77],
    ['200212', 13.19],
    ['200211', 13.37],
    ['200210', 13.87],
    ['200209', 14.42],
    ['200208', 14.16],
    ['200207', 14.19],
    ['200206', 14.01],
    ['200205', 13.3],
    ['200204', 12.69],
    ['200203', 12.81],
    ['200202', 13],
    ['200201', 12.95],
    ['200112', 13.25],
    ['200111', 13.53],
    ['200110', 14.22],
    ['200109', 14.23],
    ['200108', 14.61],
    ['200107', 14.99],
    ['200106', 14.41],
    ['200105', 14.01],
    ['200104', 13.44],
    ['200103', 13.58],
    ['200102', 13.93],
    ['200101', 13.89]]}]}

In [76]:
avg_price_res_dates =  pd.DataFrame(rsp3["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x, '%Y%m'))
avg_price_res_cent_kWh = pd.DataFrame(rsp3["series"][0]['data'])[1]
avg_price_res_NY = pd.concat([avg_price_res_dates,avg_price_res_cent_kWh], axis = 1)
avg_price_res_NY

             0      1
0   2019-07-01  18.65
1   2019-06-01  18.56
2   2019-05-01  17.38
3   2019-04-01  17.56
4   2019-03-01  16.86
5   2019-02-01  17.64
6   2019-01-01  17.29
7   2018-12-01  17.34
8   2018-11-01  18.17
9   2018-10-01  19.29
10  2018-09-01  19.28
11  2018-08-01  19.03
12  2018-07-01  19.38
13  2018-06-01  19.30
14  2018-05-01  18.52
15  2018-04-01  18.00
16  2018-03-01  17.53
17  2018-02-01  18.20
18  2018-01-01  17.75
19  2017-12-01  16.99
20  2017-11-01  17.80
21  2017-10-01  18.74
22  2017-09-01  18.80
23  2017-08-01  18.56
24  2017-07-01  18.79
25  2017-06-01  18.74
26  2017-05-01  18.53
27  2017-04-01  17.30
28  2017-03-01  17.02
29  2017-02-01  17.48
..         ...    ...
193 2003-06-01  14.98
194 2003-05-01  14.77
195 2003-04-01  14.55
196 2003-03-01  13.91
197 2003-02-01  13.30
198 2003-01-01  12.77
199 2002-12-01  13.19
200 2002-11-01  13.37
201 2002-10-01  13.87
202 2002-09-01  14.42
203 2002-08-01  14.16
204 2002-07-01  14.19
205 2002-06-01  14.01
206 2002-05-01  13.30
207 2002-04-01  12.69
208 2002-03-01  12.81
209 2002-02-01  13.00
210 2002-01-01  12.95
211 2001-12-01  13.25
212 2001-11-01  13.53
213 2001-10-01  14.22
214 2001-09-01  14.23
215 2001-08-01  14.61
216 2001-07-01  14.99
217 2001-06-01  14.41
218 2001-05-01  14.01
219 2001-04-01  13.44
220 2001-03-01  13.58
221 2001-02-01  13.93
222 2001-01-01  13.89

[223 rows x 2 columns]

In [77]:
#commercial
monthly_retail_electricity_com_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.NY-COM.M'

In [78]:
response4 = requests.get(monthly_retail_electricity_com_url)
rsp4 = response4.json()
rsp4

{'request': {'command': 'series', 'series_id': 'ELEC.PRICE.NY-COM.M'},
 'series': [{'series_id': 'ELEC.PRICE.NY-COM.M',
   'name': 'Average retail price of electricity : New York : commercial : monthly',
   'units': 'cents per kilowatthour',
   'f': 'M',
   'description': 'Electricity sold to commercial customers; Electricity sold to commercial customers; ',
   'copyright': 'None',
   'source': 'EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NY',
   'geography': 'USA-NY',
   'start': '200101',
   'end': '201907',
   'updated': '2019-09-23T17:31:34-0400',
   'data': [['201907', 15.27],
    ['201906', 14.76],
    ['201905', 13.43],
    ['201904', 13.07],
    ['201903', 12.91],
    ['201902', 13.11],
    ['201901', 12.99],
    ['201812', 13.12],
    ['201811', 13.78],
    ['201810', 14.99],
    ['201809', 16.07],
    ['201808', 15.52],
    ['201807', 16.05],
    ['201806', 15.12],
    ['201805', 13.71],
    ['201804', 13.36],
    ['201803', 13.37],
    ['201802', 13.6],
    ['201801', 14.43],
    ['201712', 13.46],
    ['201711', 13.91],
    ['201710', 15.02],
    ['201709', 16.13],
    ['201708', 15.95],
    ['201707', 16.1],
    ['201706', 15.96],
    ['201705', 14.54],
    ['201704', 13.78],
    ['201703', 14.2],
    ['201702', 13.42],
    ['201701', 13.88],
    ['201612', 13.75],
    ['201611', 13.99],
    ['201610', 14.85],
    ['201609', 15.76],
    ['201608', 15.56],
    ['201607', 15.66],
    ['201606', 15.1],
    ['201605', 13.57],
    ['201604', 13.77],
    ['201603', 13.54],
    ['201602', 13.57],
    ['201601', 13.41],
    ['201512', 13.91],
    ['201511', 14.04],
    ['201510', 15.33],
    ['201509', 16.13],
    ['201508', 15.96],
    ['201507', 16.2],
    ['201506', 16.29],
    ['201505', 14.51],
    ['201504', 14.46],
    ['201503', 15.81],
    ['201502', 15.73],
    ['201501', 14.68],
    ['201412', 14.89],
    ['201411', 15.29],
    ['201410', 15.84],
    ['201409', 16.82],
    ['201408', 16.37],
    ['201407', 16.78],
    ['201406', 16.4],
    ['201405', 15.05],
    ['201404', 14.91],
    ['201403', 16.84],
    ['201402', 17.48],
    ['201401', 16.4],
    ['201312', 14.45],
    ['201311', 13.76],
    ['201310', 15.36],
    ['201309', 16.62],
    ['201308', 16.38],
    ['201307', 16.75],
    ['201306', 16.05],
    ['201305', 14.54],
    ['201304', 14.12],
    ['201303', 14.88],
    ['201302', 15.7],
    ['201301', 14.83],
    ['201212', 14.48],
    ['201211', 14.25],
    ['201210', 15.14],
    ['201209', 16.22],
    ['201208', 15.31],
    ['201207', 16.46],
    ['201206', 15.93],
    ['201205', 14.61],
    ['201204', 14.53],
    ['201203', 14.3],
    ['201202', 14.25],
    ['201201', 14.44],
    ['201112', 14.43],
    ['201111', 14.61],
    ['201110', 15.71],
    ['201109', 16.73],
    ['201108', 17.05],
    ['201107', 17.26],
    ['201106', 17.01],
    ['201105', 15.58],
    ['201104', 15.09],
    ['201103', 14.8],
    ['201102', 15.18],
    ['201101', 15.4],
    ['201012', 15.63],
    ['201011', 15.91],
    ['201010', 16.22],
    ['201009', 15.97],
    ['201008', 17.13],
    ['201007', 18.32],
    ['201006', 17.56],
    ['201005', 16.39],
    ['201004', 15.57],
    ['201003', 15.17],
    ['201002', 15.54],
    ['201001', 15.5],
    ['200912', 15.4],
    ['200911', 14.62],
    ['200910', 15.84],
    ['200909', 16.48],
    ['200908', 16.41],
    ['200907', 16.46],
    ['200906', 16.05],
    ['200905', 14.76],
    ['200904', 14.01],
    ['200903', 14.33],
    ['200902', 15.12],
    ['200901', 15.67],
    ['200812', 14.83],
    ['200811', 15.37],
    ['200810', 16.28],
    ['200809', 18.05],
    ['200808', 18.89],
    ['200807', 19.87],
    ['200806', 18.75],
    ['200805', 16.59],
    ['200804', 16.02],
    ['200803', 15.08],
    ['200802', 15.13],
    ['200801', 15.48],
    ['200712', 15.73],
    ['200711', 15.48],
    ['200710', 15.83],
    ['200709', 16.8],
    ['200708', 17.2],
    ['200707', 16.95],
    ['200706', 16.64],
    ['200705', 16.05],
    ['200704', 15.08],
    ['200703', 14.68],
    ['200702', 15.56],
    ['200701', 14.46],
    ['200612', 14.71],
    ['200611', 14.95],
    ['200610', 15.98],
    ['200609', 16.6],
    ['200608', 17.27],
    ['200607', 16.76],
    ['200606', 16.1],
    ['200605', 14.8],
    ['200604', 14.45],
    ['200603', 14.26],
    ['200602', 14.94],
    ['200601', 14.53],
    ['200512', 14.83],
    ['200511', 14.81],
    ['200510', 15.72],
    ['200509', 15.9],
    ['200508', 15.79],
    ['200507', 15.37],
    ['200506', 14.79],
    ['200505', 13.53],
    ['200504', 12.91],
    ['200503', 12.66],
    ['200502', 12.42],
    ['200501', 12.71],
    ['200412', 12.59],
    ['200411', 12.61],
    ['200410', 13.51],
    ['200409', 14.27],
    ['200408', 14.45],
    ['200407', 14.46],
    ['200406', 13.3],
    ['200405', 12.17],
    ['200404', 11.71],
    ['200403', 12.11],
    ['200402', 12.07],
    ['200401', 11.97],
    ['200312', 11.88],
    ['200311', 12.24],
    ['200310', 13.6],
    ['200309', 14.1],
    ['200308', 14.25],
    ['200307', 14.27],
    ['200306', 13.44],
    ['200305', 12.82],
    ['200304', 12.97],
    ['200303', 12.43],
    ['200302', 11.69],
    ['200301', 11.01],
    ['200212', 11.83],
    ['200211', 11.55],
    ['200210', 12.92],
    ['200209', 13.07],
    ['200208', 13.58],
    ['200207', 13.89],
    ['200206', 12.72],
    ['200205', 11.77],
    ['200204', 11.66],
    ['200203', 11.53],
    ['200202', 11.18],
    ['200201', 11.45],
    ['200112', 11.79],
    ['200111', 11.66],
    ['200110', 13.74],
    ['200109', 13.95],
    ['200108', 14.74],
    ['200107', 14.55],
    ['200106', 12.72],
    ['200105', 11.88],
    ['200104', 11.49],
    ['200103', 12.09],
    ['200102', 12.31],
    ['200101', 12.7]]}]}

In [81]:
avg_price_com_dates =  pd.DataFrame(rsp4["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x, '%Y%m'))
avg_price_com_cent_kWh = pd.DataFrame(rsp4["series"][0]['data'])[1]
avg_price_com_NY = pd.concat([avg_price_com_dates,avg_price_com_cent_kWh], axis = 1)
avg_price_com_NY

             0      1
0   2019-07-01  15.27
1   2019-06-01  14.76
2   2019-05-01  13.43
3   2019-04-01  13.07
4   2019-03-01  12.91
5   2019-02-01  13.11
6   2019-01-01  12.99
7   2018-12-01  13.12
8   2018-11-01  13.78
9   2018-10-01  14.99
10  2018-09-01  16.07
11  2018-08-01  15.52
12  2018-07-01  16.05
13  2018-06-01  15.12
14  2018-05-01  13.71
15  2018-04-01  13.36
16  2018-03-01  13.37
17  2018-02-01  13.60
18  2018-01-01  14.43
19  2017-12-01  13.46
20  2017-11-01  13.91
21  2017-10-01  15.02
22  2017-09-01  16.13
23  2017-08-01  15.95
24  2017-07-01  16.10
25  2017-06-01  15.96
26  2017-05-01  14.54
27  2017-04-01  13.78
28  2017-03-01  14.20
29  2017-02-01  13.42
..         ...    ...
193 2003-06-01  13.44
194 2003-05-01  12.82
195 2003-04-01  12.97
196 2003-03-01  12.43
197 2003-02-01  11.69
198 2003-01-01  11.01
199 2002-12-01  11.83
200 2002-11-01  11.55
201 2002-10-01  12.92
202 2002-09-01  13.07
203 2002-08-01  13.58
204 2002-07-01  13.89
205 2002-06-01  12.72
206 2002-05-01  11.77
207 2002-04-01  11.66
208 2002-03-01  11.53
209 2002-02-01  11.18
210 2002-01-01  11.45
211 2001-12-01  11.79
212 2001-11-01  11.66
213 2001-10-01  13.74
214 2001-09-01  13.95
215 2001-08-01  14.74
216 2001-07-01  14.55
217 2001-06-01  12.72
218 2001-05-01  11.88
219 2001-04-01  11.49
220 2001-03-01  12.09
221 2001-02-01  12.31
222 2001-01-01  12.70

[223 rows x 2 columns]

In [117]:
#industrial
monthly_retail_electricity_ind_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.NY-IND.M'

In [83]:
response5 = requests.get(monthly_retail_electricity_ind_url)
rsp5 = response5.json()
rsp5

{'request': {'command': 'series', 'series_id': 'ELEC.PRICE.NY-IND.M'},
 'series': [{'series_id': 'ELEC.PRICE.NY-IND.M',
   'name': 'Average retail price of electricity : New York : industrial : monthly',
   'units': 'cents per kilowatthour',
   'f': 'M',
   'description': 'Electricity sold to industrial customers; Electricity sold to industrial customers; ',
   'copyright': 'None',
   'source': 'EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NY',
   'geography': 'USA-NY',
   'start': '200101',
   'end': '201907',
   'updated': '2019-09-23T17:31:34-0400',
   'data': [['201907', 5.69],
    ['201906', 5.25],
    ['201905', 5.74],
    ['201904', 5.45],
    ['201903', 5.51],
    ['201902', 5.63],
    ['201901', 5.67],
    ['201812', 5.61],
    ['201811', 5.77],
    ['201810', 6.07],
    ['201809', 6.07],
    ['201808', 6.06],
    ['201807', 6.29],
    ['201806', 5.99],
    ['201805', 6.55],
    ['201804', 5.59],
    ['201803', 5.49],
    ['201802', 6.65],
    ['201801', 6.39],
    ['201712', 5.85],
    ['201711', 5.76],
    ['201710', 6.15],
    ['201709', 6.19],
    ['201708', 6.2],
    ['201707', 5.92],
    ['201706', 6.11],
    ['201705', 6.2],
    ['201704', 5.87],
    ['201703', 5.87],
    ['201702', 4.98],
    ['201701', 5.87],
    ['201612', 5.83],
    ['201611', 6.59],
    ['201610', 5.95],
    ['201609', 6.18],
    ['201608', 6.28],
    ['201607', 5.59],
    ['201606', 6.7],
    ['201605', 5.72],
    ['201604', 5.94],
    ['201603', 5.97],
    ['201602', 6.08],
    ['201601', 5.51],
    ['201512', 5.72],
    ['201511', 5.87],
    ['201510', 6.3],
    ['201509', 6.53],
    ['201508', 6.33],
    ['201507', 6.25],
    ['201506', 6.01],
    ['201505', 5.76],
    ['201504', 6.31],
    ['201503', 7.51],
    ['201502', 6.85],
    ['201501', 6.24],
    ['201412', 6.17],
    ['201411', 6.24],
    ['201410', 6.09],
    ['201409', 6.47],
    ['201408', 6.42],
    ['201407', 6.47],
    ['201406', 6.33],
    ['201405', 5.93],
    ['201404', 6.21],
    ['201403', 6.84],
    ['201402', 8.19],
    ['201401', 7.64],
    ['201312', 5.97],
    ['201311', 5.49],
    ['201310', 5.95],
    ['201309', 5.82],
    ['201308', 6.04],
    ['201307', 7.01],
    ['201306', 7.08],
    ['201305', 6.64],
    ['201304', 6.83],
    ['201303', 7.27],
    ['201302', 7.72],
    ['201301', 7.26],
    ['201212', 6.16],
    ['201211', 6.18],
    ['201210', 6.09],
    ['201209', 6.24],
    ['201208', 7.38],
    ['201207', 7.27],
    ['201206', 7.12],
    ['201205', 6.71],
    ['201204', 6.68],
    ['201203', 6.84],
    ['201202', 6.75],
    ['201201', 7.07],
    ['201112', 7.24],
    ['201111', 6.94],
    ['201110', 7.4],
    ['201109', 7.37],
    ['201108', 8.36],
    ['201107', 8.09],
    ['201106', 7.87],
    ['201105', 7.65],
    ['201104', 7.55],
    ['201103', 7.89],
    ['201102', 8.67],
    ['201101', 8.97],
    ['201012', 8.48],
    ['201011', 8.3],
    ['201010', 8.71],
    ['201009', 8.66],
    ['201008', 9.12],
    ['201007', 9.51],
    ['201006', 9.22],
    ['201005', 8.95],
    ['201004', 8.53],
    ['201003', 8.2],
    ['201002', 8.79],
    ['201001', 8.84],
    ['200912', 8.44],
    ['200911', 8.51],
    ['200910', 8.46],
    ['200909', 9.05],
    ['200908', 9.32],
    ['200907', 9.1],
    ['200906', 8.23],
    ['200905', 8.25],
    ['200904', 7.4],
    ['200903', 7.57],
    ['200902', 8.02],
    ['200901', 7.95],
    ['200812', 7.99],
    ['200811', 8.26],
    ['200810', 9.37],
    ['200809', 9.95],
    ['200808', 10.58],
    ['200807', 10.81],
    ['200806', 9.81],
    ['200805', 9.56],
    ['200804', 9.15],
    ['200803', 8.69],
    ['200802', 9.38],
    ['200801', 8.94],
    ['200712', 9.44],
    ['200711', 8.21],
    ['200710', 8.97],
    ['200709', 7.38],
    ['200708', 9.39],
    ['200707', 9.18],
    ['200706', 8.65],
    ['200705', 8.33],
    ['200704', 8.91],
    ['200703', 9.44],
    ['200702', 7.16],
    ['200701', 9.62],
    ['200612', 9.27],
    ['200611', 9.05],
    ['200610', 9.54],
    ['200609', 10.02],
    ['200608', 9.88],
    ['200607', 9.83],
    ['200606', 9.14],
    ['200605', 9.12],
    ['200604', 9.18],
    ['200603', 8.49],
    ['200602', 9.43],
    ['200601', 9.76],
    ['200512', 8.55],
    ['200511', 8.66],
    ['200510', 9.67],
    ['200509', 9.65],
    ['200508', 9.95],
    ['200507', 8.54],
    ['200506', 7.52],
    ['200505', 7.25],
    ['200504', 7.24],
    ['200503', 7.41],
    ['200502', 7.01],
    ['200501', 7.03],
    ['200412', 7.13],
    ['200411', 6.86],
    ['200410', 7.26],
    ['200409', 7.3],
    ['200408', 7.28],
    ['200407', 7.34],
    ['200406', 7.33],
    ['200405', 7.03],
    ['200404', 7.01],
    ['200403', 6.34],
    ['200402', 6.98],
    ['200401', 6.64],
    ['200312', 6.69],
    ['200311', 6.65],
    ['200310', 7.09],
    ['200309', 7.2],
    ['200308', 7.03],
    ['200307', 7.05],
    ['200306', 7.03],
    ['200305', 7.02],
    ['200304', 7.59],
    ['200303', 7.6],
    ['200302', 7.46],
    ['200301', 7.24],
    ['200212', 4.94],
    ['200211', 4.92],
    ['200210', 5.34],
    ['200209', 5.13],
    ['200208', 5.23],
    ['200207', 5.34],
    ['200206', 5.58],
    ['200205', 5.17],
    ['200204', 5.06],
    ['200203', 5.16],
    ['200202', 4.81],
    ['200201', 5.47],
    ['200112', 5.38],
    ['200111', 5.18],
    ['200110', 5.3],
    ['200109', 5.39],
    ['200108', 6.03],
    ['200107', 6.55],
    ['200106', 5.48],
    ['200105', 5.45],
    ['200104', 5.59],
    ['200103', 5.36],
    ['200102', 5.72],
    ['200101', 5.5]]}]}

In [84]:
avg_price_ind_dates =  pd.DataFrame(rsp5["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x, '%Y%m'))
avg_price_ind_cent_kWh = pd.DataFrame(rsp5["series"][0]['data'])[1]
avg_price_ind_NY = pd.concat([avg_price_ind_dates,avg_price_ind_cent_kWh], axis = 1)
avg_price_ind_NY

             0     1
0   2019-07-01  5.69
1   2019-06-01  5.25
2   2019-05-01  5.74
3   2019-04-01  5.45
4   2019-03-01  5.51
5   2019-02-01  5.63
6   2019-01-01  5.67
7   2018-12-01  5.61
8   2018-11-01  5.77
9   2018-10-01  6.07
10  2018-09-01  6.07
11  2018-08-01  6.06
12  2018-07-01  6.29
13  2018-06-01  5.99
14  2018-05-01  6.55
15  2018-04-01  5.59
16  2018-03-01  5.49
17  2018-02-01  6.65
18  2018-01-01  6.39
19  2017-12-01  5.85
20  2017-11-01  5.76
21  2017-10-01  6.15
22  2017-09-01  6.19
23  2017-08-01  6.20
24  2017-07-01  5.92
25  2017-06-01  6.11
26  2017-05-01  6.20
27  2017-04-01  5.87
28  2017-03-01  5.87
29  2017-02-01  4.98
..         ...   ...
193 2003-06-01  7.03
194 2003-05-01  7.02
195 2003-04-01  7.59
196 2003-03-01  7.60
197 2003-02-01  7.46
198 2003-01-01  7.24
199 2002-12-01  4.94
200 2002-11-01  4.92
201 2002-10-01  5.34
202 2002-09-01  5.13
203 2002-08-01  5.23
204 2002-07-01  5.34
205 2002-06-01  5.58
206 2002-05-01  5.17
207 2002-04-01  5.06
208 2002-03-01  5.16
209 2002-02-01  4.81
210 2002-01-01  5.47
211 2001-12-01  5.38
212 2001-11-01  5.18
213 2001-10-01  5.30
214 2001-09-01  5.39
215 2001-08-01  6.03
216 2001-07-01  6.55
217 2001-06-01  5.48
218 2001-05-01  5.45
219 2001-04-01  5.59
220 2001-03-01  5.36
221 2001-02-01  5.72
222 2001-01-01  5.50

[223 rows x 2 columns]

In [85]:
#transportation
monthly_retail_electricity_tra_url=f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.NY-TRA.M'

In [86]:
response6 = requests.get(monthly_retail_electricity_tra_url)
rsp6 = response6.json()
rsp6

{'request': {'command': 'series', 'series_id': 'ELEC.PRICE.NY-TRA.M'},
 'series': [{'series_id': 'ELEC.PRICE.NY-TRA.M',
   'name': 'Average retail price of electricity : New York : transportation : monthly',
   'units': 'cents per kilowatthour',
   'f': 'M',
   'description': 'Electricity sold to transportation customers; Electricity sold to transportation customers; ',
   'copyright': 'None',
   'source': 'EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NY',
   'geography': 'USA-NY',
   'start': '200101',
   'end': '201907',
   'updated': '2019-09-23T17:31:34-0400',
   'data': [['201907', 12.85],
    ['201906', 12.95],
    ['201905', 12.36],
    ['201904', 11.88],
    ['201903', 11.67],
    ['201902', 12.24],
    ['201901', 11.96],
    ['201812', 12.1],
    ['201811', 12.04],
    ['201810', 12.08],
    ['201809', 13.07],
    ['201808', 12.05],
    ['201807', 13.34],
    ['201806', 13.65],
    ['201805', 12.27],
    ['201804', 12.11],
    ['201803', 12.28],
    ['201802', 12.49],
    ['201801', 10.36],
    ['201712', 12.21],
    ['201711', 12.21],
    ['201710', 12.53],
    ['201709', 13.36],
    ['201708', 13.69],
    ['201707', 13.61],
    ['201706', 13.77],
    ['201705', 12.85],
    ['201704', 11.92],
    ['201703', 12.14],
    ['201702', 11.92],
    ['201701', 11.9],
    ['201612', 11.95],
    ['201611', 11.23],
    ['201610', 11.84],
    ['201609', 12.78],
    ['201608', 13.02],
    ['201607', 12.55],
    ['201606', 12.54],
    ['201605', 11.47],
    ['201604', 11.8],
    ['201603', 11.59],
    ['201602', 11.71],
    ['201601', 12.11],
    ['201512', 12.58],
    ['201511', 12.14],
    ['201510', 12.73],
    ['201509', 13.38],
    ['201508', 13.4],
    ['201507', 13.38],
    ['201506', 13.64],
    ['201505', 12.2],
    ['201504', 12.35],
    ['201503', 12.68],
    ['201502', 13.14],
    ['201501', 13.72],
    ['201412', 13.59],
    ['201411', 12.55],
    ['201410', 13.48],
    ['201409', 15.04],
    ['201408', 14.2],
    ['201407', 14.32],
    ['201406', 14.23],
    ['201405', 13.24],
    ['201404', 13.58],
    ['201403', 13.91],
    ['201402', 13.43],
    ['201401', 14.39],
    ['201312', 12.62],
    ['201311', 13.12],
    ['201310', 13.33],
    ['201309', 14.04],
    ['201308', 14.06],
    ['201307', 14.39],
    ['201306', 14.11],
    ['201305', 13.67],
    ['201304', 13.16],
    ['201303', 13.07],
    ['201302', 13.86],
    ['201301', 14.37],
    ['201212', 14.12],
    ['201211', 14.68],
    ['201210', 14.07],
    ['201209', 14.96],
    ['201208', 14.71],
    ['201207', 15.03],
    ['201206', 14.61],
    ['201205', 14.13],
    ['201204', 13.91],
    ['201203', 13.66],
    ['201202', 13.23],
    ['201201', 13.4],
    ['201112', 12.44],
    ['201111', 12.76],
    ['201110', 12.76],
    ['201109', 14.52],
    ['201108', 13.97],
    ['201107', 14.7],
    ['201106', 14.38],
    ['201105', 14.3],
    ['201104', 12.36],
    ['201103', 13.07],
    ['201102', 13.29],
    ['201101', 13.08],
    ['201012', 13.17],
    ['201011', 14.2],
    ['201010', 14.03],
    ['201009', 13.63],
    ['201008', 14.67],
    ['201007', 14.01],
    ['201006', 14.62],
    ['201005', 13.95],
    ['201004', 13.63],
    ['201003', 13.05],
    ['201002', 13.07],
    ['201001', 13.06],
    ['200912', 12.87],
    ['200911', 12.98],
    ['200910', 12.87],
    ['200909', 13.86],
    ['200908', 13.56],
    ['200907', 13.44],
    ['200906', 14.03],
    ['200905', 13.25],
    ['200904', 12.69],
    ['200903', 12.95],
    ['200902', 12.78],
    ['200901', 12.49],
    ['200812', 11.98],
    ['200811', 11.66],
    ['200810', 10.82],
    ['200809', 13.09],
    ['200808', 14.45],
    ['200807', 14.08],
    ['200806', 15.4],
    ['200805', 12.8],
    ['200804', 11.9],
    ['200803', 12.43],
    ['200802', 12.36],
    ['200801', 10.84],
    ['200712', 9.77],
    ['200711', 9.12],
    ['200710', 10.6],
    ['200709', 11.25],
    ['200708', 11.16],
    ['200707', 12.27],
    ['200706', 11.73],
    ['200705', 11.82],
    ['200704', 10.73],
    ['200703', 13.45],
    ['200702', 10.29],
    ['200701', 9.45],
    ['200612', 11.51],
    ['200611', 10.98],
    ['200610', 12.27],
    ['200609', 12.54],
    ['200608', 12.33],
    ['200607', 12.69],
    ['200606', 12.69],
    ['200605', 11.91],
    ['200604', 11.67],
    ['200603', 11.71],
    ['200602', 11.13],
    ['200601', 11.72],
    ['200512', 11.5],
    ['200511', 10.2],
    ['200510', 13.87],
    ['200509', 12.3],
    ['200508', 11.95],
    ['200507', 12.21],
    ['200506', 11.38],
    ['200505', 10.77],
    ['200504', 10.85],
    ['200503', 10.49],
    ['200502', 10.81],
    ['200501', 10.25],
    ['200412', 8.07],
    ['200411', 7.93],
    ['200410', 8.57],
    ['200409', 8.3],
    ['200408', 8.46],
    ['200407', 8.15],
    ['200406', 7.94],
    ['200405', 7.46],
    ['200404', 7.6],
    ['200403', 7.51],
    ['200402', 7.34],
    ['200401', 7.45],
    ['200312', 8.77],
    ['200311', 9.01],
    ['200310', 9.49],
    ['200309', 9.87],
    ['200308', 9.81],
    ['200307', 10.04],
    ['200306', 9.69],
    ['200305', 9.27],
    ['200304', 9.45],
    ['200303', 9.32],
    ['200302', 9.03],
    ['200301', 8.82],
    ['200212', 0],
    ['200211', 0],
    ['200210', 0],
    ['200209', 0],
    ['200208', 0],
    ['200207', 0],
    ['200206', 0],
    ['200205', 0],
    ['200204', 0],
    ['200203', 0],
    ['200202', 0],
    ['200201', 0],
    ['200112', 0],
    ['200111', 0],
    ['200110', 0],
    ['200109', 0],
    ['200108', 0],
    ['200107', 0],
    ['200106', 0],
    ['200105', 0],
    ['200104', 0],
    ['200103', 0],
    ['200102', 0],
    ['200101', 0]]}]}

In [87]:
avg_price_tra_dates =  pd.DataFrame(rsp6["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x, '%Y%m'))
avg_price_tra_cent_kWh = pd.DataFrame(rsp6["series"][0]['data'])[1]
avg_price_tra_NY = pd.concat([avg_price_tra_dates,avg_price_tra_cent_kWh], axis = 1)
avg_price_tra_NY

             0      1
0   2019-07-01  12.85
1   2019-06-01  12.95
2   2019-05-01  12.36
3   2019-04-01  11.88
4   2019-03-01  11.67
5   2019-02-01  12.24
6   2019-01-01  11.96
7   2018-12-01  12.10
8   2018-11-01  12.04
9   2018-10-01  12.08
10  2018-09-01  13.07
11  2018-08-01  12.05
12  2018-07-01  13.34
13  2018-06-01  13.65
14  2018-05-01  12.27
15  2018-04-01  12.11
16  2018-03-01  12.28
17  2018-02-01  12.49
18  2018-01-01  10.36
19  2017-12-01  12.21
20  2017-11-01  12.21
21  2017-10-01  12.53
22  2017-09-01  13.36
23  2017-08-01  13.69
24  2017-07-01  13.61
25  2017-06-01  13.77
26  2017-05-01  12.85
27  2017-04-01  11.92
28  2017-03-01  12.14
29  2017-02-01  11.92
..         ...    ...
193 2003-06-01   9.69
194 2003-05-01   9.27
195 2003-04-01   9.45
196 2003-03-01   9.32
197 2003-02-01   9.03
198 2003-01-01   8.82
199 2002-12-01   0.00
200 2002-11-01   0.00
201 2002-10-01   0.00
202 2002-09-01   0.00
203 2002-08-01   0.00
204 2002-07-01   0.00
205 2002-06-01   0.00
206 2002-05-01   0.00
207 2002-04-01   0.00
208 2002-03-01   0.00
209 2002-02-01   0.00
210 2002-01-01   0.00
211 2001-12-01   0.00
212 2001-11-01   0.00
213 2001-10-01   0.00
214 2001-09-01   0.00
215 2001-08-01   0.00
216 2001-07-01   0.00
217 2001-06-01   0.00
218 2001-05-01   0.00
219 2001-04-01   0.00
220 2001-03-01   0.00
221 2001-02-01   0.00
222 2001-01-01   0.00

[223 rows x 2 columns]

Create dataframe from all calls

In [96]:
data_frames = [avg_price_all_NY, avg_price_com_NY,avg_price_ind_NY,avg_price_res_NY,avg_price_tra_NY]

In [97]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=[0],
                                            how='outer'), data_frames)

In [98]:
df_merged.columns = ['Date', 'All_sectors', 'Commercial', 'Industrial', 'Residential', 'Transportation']
df_merged

,Date,All_sectors,Commercial,Industrial,Residential,Transportation
0,2019-07-01,15.43,15.27,5.69,18.65,12.85
1,2019-06-01,14.80,14.76,5.25,18.56,12.95
2,2019-05-01,13.87,13.43,5.74,17.38,12.36
3,2019-04-01,13.50,13.07,5.45,17.56,11.88
4,2019-03-01,13.42,12.91,5.51,16.86,11.67
5,2019-02-01,13.82,13.11,5.63,17.64,12.24
6,2019-01-01,13.68,12.99,5.67,17.29,11.96
7,2018-12-01,13.60,13.12,5.61,17.34,12.10
8,2018-11-01,14.17,13.78,5.77,18.17,12.04
9,2018-10-01,15.26,14.99,6.07,19.29,12.08
10,2018-09-01,16.10,16.07,6.07,19.28,13.07
11,2018-08-01,15.78,15.52,6.06,19.03,12.05
12,2018-07-01,16.22,16.05,6.29,19.38,13.34
13,2018-06-01,15.47,15.12,5.99,19.30,13.65
14,2018-05-01,14.32,13.71,6.55,18.52,12.27
15,2018-04-01,13.88,13.36,5.59,18.00,12.11
16,2018-03-01,13.84,13.37,5.49,17.53,12.28
17,2018-02-01,14.35,13.60,6.65,18.20,12.49
18,2018-01-01,14.68,14.43,6.39,17.75,10.36
19,2017-12-01,13.71,13.46,5.85,16.99,12.21
20,2017-11-01,14.00,13.91,5.76,17.80,12.21
21,2017-10-01,15.02,15.02,6.15,18.74,12.53
22,2017-09-01,15.73,16.13,6.19,18.80,13.36
23,2017-08-01,15.72,15.95,6.20,18.56,13.69
24,2017-07-01,15.91,16.10,5.92,18.79,13.61
25,2017-06-01,15.65,15.96,6.11,18.74,13.77
26,2017-05-01,14.61,14.54,6.20,18.53,12.85
27,2017-04-01,13.76,13.78,5.87,17.30,11.92
28,2017-03-01,14.16,14.20,5.87,17.02,12.14
29,2017-02-01,13.77,13.42,4.98,17.48,11.92
...,...,...,...,...,...,...
193,2003-06-01,12.81,13.44,7.03,14.98,9.69
194,2003-05-01,12.34,12.82,7.02,14.77,9.27
195,2003-04-01,12.51,12.97,7.59,14.55,9.45
196,2003-03-01,12.15,12.43,7.60,13.91,9.32
197,2003-02-01,11.53,11.69,7.46,13.30,9.03
198,2003-01-01,11.05,11.01,7.24,12.77,8.82
199,2002-12-01,10.84,11.83,4.94,13.19,0.00
200,2002-11-01,10.54,11.55,4.92,13.37,0.00
201,2002-10-01,11.49,12.92,5.34,13.87,0.00
202,2002-09-01,11.77,13.07,5.13,14.42,0.00
203,2002-08-01,12.16,13.58,5.23,14.16,0.00
204,2002-07-01,12.29,13.89,5.34,14.19,0.00
205,2002-06-01,11.52,12.72,5.58,14.01,0.00
206,2002-05-01,10.69,11.77,5.17,13.30,0.00
207,2002-04-01,10.45,11.66,5.06,12.69,0.00
208,2002-03-01,10.53,11.53,5.16,12.81,0.00
209,2002-02-01,10.33,11.18,4.81,13.00,0.00
210,2002-01-01,10.67,11.45,5.47,12.95,0.00
211,2001-12-01,10.87,11.79,5.38,13.25,0.00
212,2001-11-01,10.61,11.66,5.18,13.53,0.00
213,2001-10-01,11.83,13.74,5.30,14.22,0.00
214,2001-09-01,12.02,13.95,5.39,14.23,0.00
215,2001-08-01,12.69,14.74,6.03,14.61,0.00
216,2001-07-01,13.26,14.55,6.55,14.99,0.00
217,2001-06-01,11.46,12.72,5.48,14.41,0.00
218,2001-05-01,10.97,11.88,5.45,14.01,0.00
219,2001-04-01,10.70,11.49,5.59,13.44,0.00
220,2001-03-01,11.01,12.09,5.36,13.58,0.00
221,2001-02-01,11.17,12.31,5.72,13.93,0.00
222,2001-01-01,11.53,12.70,5.50,13.89,0.00

Send to csv file

In [85]:
pd.DataFrame.to_csv(df_merged, 'avg_retail_prices_NY.csv', sep=',', na_rep='.', index=False)

In [88]:
pd.DataFrame.to_csv(demand_NY, 'hourly_demand_NY.csv', sep=',', na_rep='.', index=False)

### Average monthly electricity retail price in all states

In [89]:
list_of_states = ["AL", "AK", "AZ", "AR", "CA", "CO","CT", "DE", "DC", "FL", "GA",
                 "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA",
                 "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY",
                 "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX",
                 "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [141]:
retail_energy_price_by_state=pd.DataFrame()
for state in list_of_states:
    url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.PRICE.{state}-ALL.M'
    response = requests.get(url)
    rsp = response.json()
    avg_price_all_dates =  pd.DataFrame(rsp["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x, '%Y%m'))
    avg_price_cent_kWh = pd.DataFrame(rsp["series"][0]['data'])[1]
    retail_energy_price_by_state["Date"] = avg_price_all_dates
    retail_energy_price_by_state[state] = avg_price_cent_kWh

In [142]:
retail_energy_price_by_state

,Date,AL,AK,AZ,AR,CA,CO,CT,DE,DC,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,2019-07-01,10.45,20.84,11.46,8.55,18.63,10.61,18.24,10.38,11.80,...,10.22,10.06,8.80,8.98,15.07,9.74,7.83,8.45,11.42,8.26
1,2019-06-01,10.05,20.61,11.15,8.46,18.53,10.61,19.47,10.17,11.63,...,10.48,9.93,8.66,8.76,15.25,9.76,7.84,8.46,11.19,8.19
2,2019-05-01,10.01,20.12,10.98,7.98,16.09,9.76,19.14,10.92,12.58,...,10.02,9.43,8.41,8.27,15.10,9.56,7.82,8.30,10.94,8.13
3,2019-04-01,9.91,20.77,10.45,7.90,15.02,9.75,19.67,11.15,12.68,...,9.78,9.59,8.49,7.82,14.92,9.56,7.99,8.60,10.90,7.88
4,2019-03-01,9.62,20.21,10.03,8.06,15.60,9.92,19.29,10.87,12.14,...,9.54,9.75,8.52,8.11,15.04,9.49,8.28,8.46,10.84,8.06
5,2019-02-01,9.59,20.03,10.19,7.91,16.17,10.00,19.82,10.68,12.80,...,9.48,9.90,8.60,8.10,15.18,9.53,8.26,8.31,11.04,8.25
6,2019-01-01,9.40,19.81,10.10,7.97,15.66,9.68,19.20,10.73,12.34,...,9.34,9.86,8.53,7.89,14.89,9.50,7.99,7.94,10.86,7.90
7,2018-12-01,9.42,19.86,10.03,7.24,16.20,9.72,18.83,10.65,12.54,...,9.69,9.81,8.24,7.64,15.32,9.36,8.04,8.34,10.68,7.93
8,2018-11-01,9.58,19.20,10.07,7.25,16.55,9.91,18.57,10.86,12.66,...,9.62,9.80,8.55,7.72,15.20,9.40,8.04,8.75,10.96,7.95
9,2018-10-01,9.52,20.10,10.97,7.08,16.21,10.19,18.38,11.10,12.33,...,10.25,9.48,8.52,8.17,15.01,9.35,7.95,8.32,10.80,7.78
10,2018-09-01,10.02,19.41,11.35,7.75,17.57,10.27,19.19,10.50,11.87,...,10.38,9.65,8.78,8.50,15.01,9.55,7.85,8.52,10.97,8.16
11,2018-08-01,9.98,19.85,11.61,7.87,18.73,10.36,18.37,10.40,12.25,...,10.52,9.21,8.98,8.94,15.03,9.83,8.02,8.69,11.05,8.04
12,2018-07-01,9.92,20.68,11.72,7.92,18.42,10.42,18.09,10.26,11.41,...,10.22,9.78,8.99,8.87,15.03,9.83,7.87,8.87,11.09,8.17
13,2018-06-01,9.98,19.77,11.56,7.77,17.82,10.42,18.62,10.59,11.87,...,10.18,9.77,8.94,8.69,15.30,9.79,7.73,8.76,10.65,8.29
14,2018-05-01,9.67,19.54,11.42,7.38,16.10,9.84,17.83,10.55,11.86,...,9.92,9.50,8.57,8.56,14.98,9.43,7.69,8.86,11.14,8.29
15,2018-04-01,9.46,19.41,10.66,7.32,14.44,9.80,18.40,10.62,12.71,...,9.63,9.53,8.32,7.87,14.89,9.43,8.03,8.93,10.85,8.17
16,2018-03-01,9.41,19.29,10.09,8.09,15.51,9.56,18.27,10.33,10.81,...,9.55,9.85,8.47,7.90,14.94,9.45,8.16,9.00,10.68,8.27
17,2018-02-01,9.40,19.12,10.21,8.20,15.57,9.62,18.72,10.98,12.43,...,9.66,9.60,8.67,8.29,15.22,9.55,8.16,9.20,11.02,8.21
18,2018-01-01,9.73,19.61,10.05,8.14,15.59,9.50,18.40,10.64,11.91,...,9.65,9.45,8.66,7.94,15.14,9.47,8.12,9.07,10.96,8.07
19,2017-12-01,9.45,19.21,9.90,7.90,15.20,9.63,17.46,10.70,11.85,...,9.95,9.56,8.07,7.89,14.58,9.02,8.15,9.01,10.69,8.25
20,2017-11-01,9.60,19.11,9.97,8.03,15.82,9.78,17.62,10.82,12.33,...,10.09,9.49,8.17,7.99,14.65,9.07,8.12,9.00,10.72,8.11
21,2017-10-01,9.75,18.88,10.86,8.05,16.01,9.99,18.03,11.03,12.07,...,10.22,9.26,8.35,8.20,14.48,9.30,7.94,8.86,10.35,8.44
22,2017-09-01,10.26,18.57,11.07,8.77,17.83,10.39,17.93,10.62,11.87,...,10.38,9.46,8.57,8.91,14.66,9.32,7.95,8.72,10.96,8.20
23,2017-08-01,10.18,18.70,11.22,8.77,17.57,10.39,17.64,10.76,11.39,...,10.29,9.57,8.60,9.33,14.48,9.60,7.85,8.94,10.85,8.12
24,2017-07-01,10.19,19.23,11.56,8.85,17.25,10.47,17.78,10.49,11.33,...,10.47,9.73,8.62,9.60,14.69,9.70,7.82,8.96,11.05,8.28
25,2017-06-01,10.10,19.75,11.31,8.65,17.28,10.62,17.49,10.72,11.77,...,10.40,9.65,8.55,9.34,14.85,9.26,7.77,8.82,11.08,8.36
26,2017-05-01,9.71,19.72,11.16,8.16,15.38,9.75,17.56,11.34,11.82,...,10.14,9.20,8.33,8.76,14.59,9.04,7.84,8.92,10.89,8.46
27,2017-04-01,9.53,19.32,10.17,8.02,13.02,9.62,17.26,11.00,12.03,...,10.01,9.17,8.25,7.91,14.61,8.94,7.90,9.07,10.54,8.31
28,2017-03-01,9.67,19.67,9.62,7.78,15.38,9.73,17.41,11.61,12.03,...,9.89,9.26,8.14,8.25,14.53,9.00,7.87,9.20,10.57,8.34
29,2017-02-01,9.76,18.60,9.61,7.86,15.26,9.67,17.37,11.18,11.88,...,9.58,9.40,8.33,8.15,14.60,8.81,7.99,9.23,10.66,8.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2003-06-01,6.16,10.35,7.99,6.07,13.00,7.01,10.37,7.26,8.46,...,6.70,5.73,8.28,5.60,11.03,6.47,5.78,5.12,6.82,5.06
194,2003-05-01,5.49,10.10,7.78,5.59,12.15,6.94,10.34,6.57,8.21,...,6.33,5.77,7.62,5.33,10.87,6.34,5.84,5.09,6.58,4.92
195,2003-04-01,5.82,10.31,6.79,5.34,11.73,6.51,9.91,6.71,6.49,...,6.33,5.71,7.26,5.53,10.94,6.10,5.91,5.09,6.65,4.72
196,2003-03-01,5.54,10.36,6.64,5.53,10.62,6.39,9.63,6.66,6.41,...,6.19,5.82,7.55,5.24,10.86,6.17,5.82,5.18,6.38,4.67
197,2003-02-01,5.61,10.42,6.71,5.24,11.65,6.42,9.57,6.65,6.53,...,6.11,5.84,6.94,5.09,10.89,6.10,5.99,5.16,6.40,4.86
198,2003-01-01,5.90,10.13,6.46,5.14,11.52,6.24,9.45,6.56,6.52,...,5.98,5.71,6.62,5.20,10.87,6.08,6.00,5.02,6.38,4.50
199,2002-12-01,5.47,10.14,6.56,5.14,11.94,5.83,9.61,6.46,6.35,...,6.03,5.72,6.54,5.08,11.04,6.00,6.02,5.16,6.51,4.70
200,2002-11-01,5.36,10.24,6.51,5.18,12.09,6.05,9.68,6.54,6.37,...,6.12,5.72,6.19,5.35,10.85,6.11,5.97,5.19,6.28,4.74
201,2002-10-01,5.72,10.46,7.72,5.14,12.68,6.33,9.77,6.60,6.56,...,6.27,5.80,6.29,5.50,10.91,6.03,5.92,5.05,6.11,4.81
202,2002-09-01,5.94,10.43,7.71,6.09,12.24,6.26,9.64,7.41,8.41,...,6.49,5.77,6.45,5.47,10.90,6.22,5.52,5.06,6.27,4.80
203,2002-08-01,6.05,10.39,7.84,6.08,13.27,6.15,9.64,7.50,8.55,...,6.64,5.86,6.73,5.61,10.82,6.54,5.69,5.09,6.34,4.73
204,2002-07-01,6.06,10.65,7.62,6.08,13.77,6.06,10.14,7.51,8.39,...,6.69,5.53,6.98,5.69,10.97,6.61,5.75,5.15,6.41,4.75
205,2002-06-01,5.85,10.71,7.95,5.86,12.75,6.27,9.68,7.56,8.48,...,6.52,5.84,6.91,5.47,10.85,6.39,5.84,5.15,6.48,4.64
206,2002-05-01,5.63,10.87,7.60,5.50,12.11,6.20,9.82,6.60,8.25,...,6.18,5.67,6.32,5.41,10.57,6.26,5.82,5.06,6.20,4.65
207,2002-04-01,5.53,10.68,6.65,5.43,10.99,5.77,9.77,6.75,6.40,...,6.09,5.66,6.53,5.35,10.81,6.10,5.97,5.07,6.19,4.61
208,2002-03-01,5.65,10.75,6.46,5.49,11.35,5.69,9.55,6.47,6.27,...,6.00,5.69,6.64,5.09,10.83,6.06,6.00,5.16,6.11,4.57
209,2002-02-01,5.53,10.15,6.49,5.41,11.17,5.68,9.56,6.52,6.45,...,6.10,5.68,7.06,5.19,10.68,6.13,5.98,5.13,6.22,4.67
210,2002-01-01,5.48,10.25,6.39,5.48,11.32,5.70,9.64,6.56,6.40,...,5.90,5.68,6.73,5.40,11.15,6.10,5.94,5.05,6.17,4.50
211,2001-12-01,5.53,10.75,6.49,5.67,11.07,5.71,9.66,6.62,6.39,...,6.01,5.71,6.93,4.95,10.99,6.07,5.71,5.13,6.15,4.48
212,2001-11-01,5.39,10.68,6.37,5.54,11.16,5.73,9.60,6.72,6.66,...,6.13,5.58,6.92,5.12,10.89,6.11,5.84,5.10,6.01,4.55
213,2001-10-01,5.49,11.19,7.71,5.67,12.74,6.32,9.75,7.05,7.37,...,6.26,5.52,7.38,5.32,11.03,6.10,5.60,5.07,5.96,4.60
214,2001-09-01,5.56,10.24,7.77,6.44,13.13,6.66,9.70,7.72,8.45,...,6.54,5.61,7.65,5.11,10.76,6.22,5.51,5.01,6.11,4.63
215,2001-08-01,5.78,10.78,7.87,6.58,13.12,6.14,9.89,7.73,8.39,...,6.82,5.65,8.00,5.47,10.89,6.57,5.47,5.14,6.28,4.58
216,2001-07-01,5.81,10.39,7.78,6.47,13.47,5.99,9.78,7.64,9.03,...,6.84,5.69,7.98,5.48,11.03,6.41,5.35,5.15,6.28,4.62
217,2001-06-01,5.56,10.58,8.01,6.53,11.34,6.48,9.56,7.21,8.65,...,6.79,5.61,7.90,5.43,10.79,6.47,5.11,5.12,6.25,4.37
218,2001-05-01,5.60,10.55,7.86,6.16,9.82,6.20,9.57,6.74,7.54,...,6.49,5.55,7.34,5.42,10.56,6.17,5.22,5.04,5.98,4.40
219,2001-04-01,5.72,10.59,6.87,6.04,9.88,5.91,9.61,6.31,6.27,...,6.23,5.51,7.04,5.39,10.42,6.05,5.40,5.00,6.02,4.26
220,2001-03-01,5.87,10.91,6.57,5.73,9.89,5.66,9.38,6.31,6.33,...,6.11,5.48,7.02,4.92,10.84,6.06,5.37,5.15,5.93,4.34
221,2001-02-01,5.31,9.92,6.48,5.60,9.63,5.79,9.06,5.38,6.53,...,6.10,5.51,6.91,5.26,11.12,6.03,5.11,4.99,5.98,4.36
222,2001-01-01,5.54,9.97,6.35,5.69,8.71,5.55,9.76,6.11,6.35,...,5.85,5.59,6.90,4.67,10.95,5.86,4.79,4.98,5.90,4.31

Create new dataframe with prices adjusted for inflation

In [151]:
retail_energy_price_by_state_adj = inflate_adj_db(retail_energy_price_by_state, "Date", list_of_states)
retail_energy_price_by_state_adj

,Date,AL,AK,AZ,AR,CA,CO,CT,DE,DC,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,2019-07-01,10.449999,20.839998,11.459999,8.549999,18.629999,10.609999,18.239999,10.379999,11.799999,...,10.219999,10.059999,8.799999,8.979999,15.069999,9.739999,7.829999,8.449999,11.419999,8.259999
1,2019-06-01,10.049999,20.609998,11.149999,8.459999,18.529999,10.609999,19.469998,10.169999,11.629999,...,10.479999,9.929999,8.659999,8.759999,15.249999,9.759999,7.839999,8.459999,11.189999,8.189999
2,2019-05-01,10.009999,20.119998,10.979999,7.979999,16.089999,9.759999,19.139999,10.919999,12.579999,...,10.019999,9.429999,8.409999,8.269999,15.099999,9.559999,7.819999,8.299999,10.939999,8.129999
3,2019-04-01,9.909999,20.769998,10.449999,7.899999,15.019999,9.749999,19.669998,11.149999,12.679999,...,9.779999,9.589999,8.489999,7.819999,14.919999,9.559999,7.989999,8.599999,10.899999,7.879999
4,2019-03-01,9.619999,20.209998,10.029999,8.059999,15.599999,9.919999,19.289998,10.869999,12.139999,...,9.539999,9.749999,8.519999,8.109999,15.039999,9.489999,8.279999,8.459999,10.839999,8.059999
5,2019-02-01,9.589999,20.029998,10.189999,7.909999,16.169999,9.999999,19.819998,10.679999,12.799999,...,9.479999,9.899999,8.599999,8.099999,15.179999,9.529999,8.259999,8.309999,11.039999,8.249999
6,2019-01-01,9.399999,19.809998,10.099999,7.969999,15.659999,9.679999,19.199999,10.729999,12.339999,...,9.339999,9.859999,8.529999,7.889999,14.889999,9.499999,7.989999,7.939999,10.859999,7.899999
7,2018-12-01,9.624494,20.291130,10.247736,7.397169,16.551677,9.931006,19.238771,10.881195,12.812224,...,9.900355,10.022960,8.418878,7.805853,15.652574,9.563191,8.214536,8.521049,10.911847,8.102148
8,2018-11-01,9.787967,19.616803,10.288604,7.407386,16.909275,10.125131,18.973126,11.095754,12.934829,...,9.828836,10.012743,8.735607,7.887589,15.529969,9.604060,8.214536,8.939949,11.197925,8.122582
9,2018-10-01,9.726665,20.536340,11.208142,7.233696,16.561894,10.411209,18.779002,11.340964,12.597666,...,10.472512,9.685796,8.704956,8.347358,15.335844,9.552974,8.122582,8.500615,11.034452,7.948892
10,2018-09-01,10.237519,19.831362,11.596391,7.918241,17.951418,10.492946,19.606586,10.727939,12.127680,...,10.605334,9.859487,8.970600,8.684522,15.335844,9.757316,8.020412,8.704956,11.208142,8.337141
11,2018-08-01,10.196651,20.280913,11.862035,8.040846,19.136600,10.584900,18.768785,10.625768,12.515929,...,10.748373,9.409935,9.174942,9.134074,15.356278,10.043394,8.194102,8.878647,11.289879,8.214536
12,2018-07-01,10.135348,21.128931,11.974423,8.091931,18.819870,10.646202,18.482706,10.482729,11.657694,...,10.441861,9.992309,9.185159,9.062554,15.356278,10.043394,8.040846,9.062554,11.330747,8.347358
13,2018-06-01,10.196651,20.199177,11.810950,7.938675,18.206845,10.646202,19.024212,10.819893,12.127680,...,10.400992,9.982092,9.134074,8.878647,15.632140,10.002526,7.897807,8.950166,10.881195,8.469963
14,2018-05-01,9.879921,19.964184,11.667911,7.540209,16.449506,10.053611,18.217062,10.779024,12.117463,...,10.135348,9.706231,8.756042,8.745825,15.305193,9.634711,7.856938,9.052337,11.381832,8.469963
15,2018-04-01,9.665362,19.831362,10.891412,7.478906,14.753470,10.012743,18.799436,10.850544,12.985915,...,9.839053,9.736882,8.500615,8.040846,15.213239,9.634711,8.204319,9.123857,11.085537,8.347358
16,2018-03-01,9.614277,19.708757,10.309039,8.265622,15.846698,9.767533,18.666614,10.554249,11.044669,...,9.757316,10.063828,8.653871,8.071497,15.264325,9.655145,8.337141,9.195376,10.911847,8.449529
17,2018-02-01,9.604060,19.535066,10.431644,8.378010,15.908001,9.828836,19.126383,11.218359,12.699836,...,9.869704,9.808401,8.858212,8.469963,15.550403,9.757316,8.337141,9.399718,11.259227,8.388227
18,2018-01-01,9.941223,20.035703,10.268170,8.316707,15.928435,9.706231,18.799436,10.870978,12.168548,...,9.859487,9.655145,8.847995,8.112365,15.468666,9.675579,8.296273,9.266896,11.197925,8.245187
19,2017-12-01,9.890963,20.106392,10.361961,8.268636,15.909274,10.079363,18.274732,11.199292,12.402954,...,10.414295,10.006096,8.446569,8.258169,15.260343,9.440898,8.530302,9.430432,11.188825,8.634968
20,2017-11-01,10.047963,20.001726,10.435228,8.404702,16.558205,10.236362,18.442198,11.324891,12.905352,...,10.560827,9.932830,8.551235,8.362836,15.333610,9.493231,8.498902,9.419965,11.220225,8.488435
21,2017-10-01,10.204962,19.760993,11.366758,8.425635,16.757071,10.456161,18.871330,11.544690,12.633220,...,10.696894,9.692097,8.739634,8.582635,15.155677,9.733964,8.310502,9.273432,10.832960,8.833834
22,2017-09-01,10.738760,19.436528,11.586557,9.179233,18.661997,10.874826,18.766664,11.115559,12.423887,...,10.864360,9.901430,8.969900,9.325765,15.344076,9.754897,8.320969,9.126899,11.471424,8.582635
23,2017-08-01,10.655027,19.572594,11.743556,9.179233,18.389865,10.874826,18.463131,11.262091,11.921489,...,10.770160,10.016563,9.001300,9.765364,15.155677,10.047963,8.216303,9.357165,11.356291,8.498902
24,2017-07-01,10.665494,20.127325,12.099422,9.262966,18.054933,10.958559,18.609664,10.979493,11.858689,...,10.958559,10.184029,9.022233,10.047963,15.375476,10.152629,8.184903,9.378098,11.565624,8.666368
25,2017-06-01,10.571294,20.671590,11.837756,9.053633,18.086333,11.115559,18.306132,11.220225,12.319221,...,10.885293,10.100296,8.948967,9.775830,15.542942,9.692097,8.132570,9.231566,11.597024,8.750101
26,2017-05-01,10.163096,20.640190,11.680757,8.540768,16.097674,10.204962,18.379398,11.869156,12.371554,...,10.613161,9.629298,8.718701,9.168766,15.270810,9.461832,8.205836,9.336232,11.398158,8.854767
27,2017-04-01,9.974696,20.221525,10.644560,8.394235,13.627549,10.068896,18.065400,11.513291,12.591353,...,10.477094,9.597898,8.634968,8.279103,15.291743,9.357165,8.268636,9.493231,11.031826,8.697768
28,2017-03-01,10.121229,20.587857,10.068896,8.143036,16.097674,10.184029,18.222399,12.151755,12.591353,...,10.351495,9.692097,8.519835,8.634968,15.208010,9.419965,8.237236,9.629298,11.063226,8.729168
29,2017-02-01,10.215429,19.467928,10.058429,8.226769,15.972074,10.121229,18.180532,11.701690,12.434354,...,10.027029,9.838630,8.718701,8.530302,15.281277,9.221099,8.362836,9.660697,11.157425,8.750101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2003-06-01,8.589115,14.431386,11.140751,8.463625,18.126379,9.774301,14.459273,10.122886,11.796090,...,9.342057,7.989550,11.545109,7.808286,15.379535,9.021359,8.059267,7.139005,9.509377,7.055344
194,2003-05-01,7.654909,14.082802,10.847941,7.794343,16.941193,9.676698,14.417443,9.160793,11.447506,...,8.826152,8.045324,10.624847,7.431815,15.156442,8.840096,8.142927,7.097175,9.174736,6.860137
195,2003-04-01,8.115040,14.375613,9.467547,7.445759,16.355571,9.077133,13.817878,9.356000,9.049246,...,8.826152,7.961663,10.122886,7.710683,15.254045,8.505455,8.240531,7.097175,9.272340,6.581270
196,2003-03-01,7.724626,14.445330,9.258397,7.710683,14.807857,8.909812,13.427464,9.286283,8.937699,...,8.630945,8.115040,10.527243,7.306325,15.142498,8.603058,8.115040,7.222665,8.895869,6.511553
197,2003-02-01,7.822230,14.528990,9.356000,7.306325,16.244024,8.951643,13.343804,9.272340,9.105020,...,8.519398,8.142927,9.676698,7.097175,15.184328,8.505455,8.352078,7.194778,8.923756,6.776477
198,2003-01-01,8.226587,14.124632,9.007416,7.166891,16.062760,8.700662,13.176483,9.146850,9.091076,...,8.338134,7.961663,9.230510,7.250552,15.156442,8.477568,8.366021,6.999571,8.895869,6.274516
199,2002-12-01,7.800846,14.460800,9.355310,7.330228,17.027806,8.314247,13.704959,9.212699,9.055826,...,8.599470,8.157374,9.326788,7.244661,15.744303,8.556686,8.585209,7.358750,9.284005,6.702738
200,2002-11-01,7.643973,14.603411,9.284005,7.387273,17.241723,8.627992,13.804787,9.326788,9.084349,...,8.727820,8.157374,8.827648,7.629712,15.473341,8.713559,8.513903,7.401534,8.955998,6.759782
201,2002-10-01,8.157374,14.917157,11.009603,7.330228,18.083131,9.027304,13.933138,9.412355,9.355310,...,8.941737,8.271464,8.970260,7.843629,15.558908,8.599470,8.442597,7.201878,8.713559,6.859610
202,2002-09-01,8.471120,14.874373,10.995342,8.685037,17.455640,8.927476,13.747743,10.567508,11.993622,...,9.255482,8.228680,9.198438,7.800846,15.544647,8.870432,7.872151,7.216139,8.941737,6.845349
203,2002-08-01,8.627992,14.817329,11.180737,8.670776,18.924538,8.770604,13.747743,10.695858,12.193278,...,9.469400,8.357030,9.597750,8.000502,15.430558,9.326788,8.114591,7.258922,9.041565,6.745521
204,2002-07-01,8.642253,15.188118,10.866992,8.670776,19.637595,8.642253,14.460800,10.710119,11.965100,...,9.540705,7.886413,9.954278,8.114591,15.644475,9.426616,8.200158,7.344489,9.141393,6.774043
205,2002-06-01,8.342769,15.273685,11.337609,8.357030,18.182959,8.941737,13.804787,10.781425,12.093450,...,9.298266,8.328508,9.854450,7.800846,15.473341,9.112871,8.328508,7.344489,9.241221,6.617171
206,2002-05-01,8.029024,15.501863,10.838469,7.843629,17.270245,8.841909,14.004443,9.412355,11.765444,...,8.813387,8.086069,9.013043,7.715279,15.074029,8.927476,8.299986,7.216139,8.841909,6.631432
207,2002-04-01,7.886413,15.230902,9.483661,7.743801,15.672997,8.228680,13.933138,9.626272,9.127132,...,8.685037,8.071807,9.312527,7.629712,15.416297,8.699298,8.513903,7.230400,8.827648,6.574387
208,2002-03-01,8.057546,15.330730,9.212699,7.829368,16.186398,8.114591,13.619392,9.226960,8.941737,...,8.556686,8.114591,9.469400,7.258922,15.444819,8.642253,8.556686,7.358750,8.713559,6.517343
209,2002-02-01,7.886413,14.475061,9.255482,7.715279,15.929698,8.100330,13.633654,9.298266,9.198438,...,8.699298,8.100330,10.068368,7.401534,15.230902,8.742081,8.528164,7.315967,8.870432,6.659954
210,2002-01-01,7.815107,14.617673,9.112871,7.815107,16.143615,8.128852,13.747743,9.355310,9.127132,...,8.414075,8.100330,9.597750,7.701018,15.901176,8.699298,8.471120,7.201878,8.799126,6.417515
211,2001-12-01,8.011099,15.573113,9.401814,8.213912,16.036685,8.271858,13.994072,9.590140,9.256948,...,8.706457,8.271858,10.039225,7.170875,15.920792,8.793376,8.271858,7.431634,8.909269,6.490004
212,2001-11-01,7.808286,15.471707,9.227975,8.025586,16.167064,8.300831,13.907152,9.735006,9.648087,...,8.880296,8.083532,10.024739,7.417148,15.775925,8.851323,8.460184,7.388174,8.706457,6.591411
213,2001-10-01,7.953153,16.210524,11.169181,8.213912,18.455950,9.155542,14.124451,10.213065,10.676636,...,9.068622,7.996612,10.691123,7.706880,15.978738,8.836836,8.112505,7.344715,8.634023,6.663844
214,2001-09-01,8.054559,14.834295,11.256101,9.329381,19.020928,9.648087,14.052018,11.183668,12.241191,...,9.474247,8.126992,11.082262,7.402661,15.587599,9.010676,7.982126,7.257795,8.851323,6.707303
215,2001-08-01,8.373264,15.616573,11.400967,9.532194,19.006441,8.894783,14.327264,11.198155,12.154271,...,9.879873,8.184938,11.589293,7.924179,15.775925,9.517707,7.924179,7.446121,9.097595,6.634870
216,2001-07-01,8.416724,15.051595,11.270588,9.372841,19.513473,8.677483,14.167911,11.067775,13.081415,...,9.908846,8.242885,11.560320,7.938666,15.978738,9.285921,7.750340,7.460608,9.097595,6.692817
217,2001-06-01,8.054559,15.326840,11.603780,9.459761,16.427823,9.387328,13.849205,10.444851,12.530923,...,9.836413,8.126992,11.444427,7.866233,15.631059,9.372841,7.402661,7.417148,9.054135,6.330651
218,2001-05-01,8.112505,15.283381,11.386481,8.923756,14.225858,8.981702,13.863692,9.763980,10.922909,...,9.401814,8.040072,10.633177,7.851746,15.297867,8.938242,7.562014,7.301255,8.662997,6.374111
219,2001-04-01,8.286345,15.341327,9.952306,8.749916,14.312777,8.561590,13.921639,9.141055,9.083109,...,9.025162,7.982126,10.198578,7.808286,15.095054,8.764403,7.822773,7.243308,8.720943,6.171299
220,2001-03-01,8.503644,15.804899,9.517707,8.300831,14.327264,8.199425,13.588446,9.141055,9.170028,...,8.851323,7.938666,10.169605,7.127415,15.703492,8.778890,7.779313,7.460608,8.590564,6.287192
221,2001-02-01,7.692393,14.370724,9.387328,8.112505,13.950612,8.387751,13.124875,7.793800,9.459761,...,8.836836,7.982126,10.010252,7.619960,16.109118,8.735430,7.402661,7.228822,8.662997,6.316165
222,2001-01-01,8.025586,14.443157,9.199002,8.242885,12.617843,8.040072,14.138938,8.851323,9.199002,...,8.474671,8.098019,9.995765,6.765250,15.862845,8.489157,6.939089,7.214335,8.547104,6.243732

In [104]:
inflate_adj(df_merged, "Date", "All_sectors")

,Date,All_sectors,Commercial,Industrial,Residential,Transportation,adj_Price,adjAll_sectors,adj_All_sectors
0,2019-07-01,15.43,15.27,5.69,18.65,12.85,15.429999,15.429999,15.429999
1,2019-06-01,14.80,14.76,5.25,18.56,12.95,14.799999,14.799999,14.799999
2,2019-05-01,13.87,13.43,5.74,17.38,12.36,13.869999,13.869999,13.869999
3,2019-04-01,13.50,13.07,5.45,17.56,11.88,13.499999,13.499999,13.499999
4,2019-03-01,13.42,12.91,5.51,16.86,11.67,13.419999,13.419999,13.419999
5,2019-02-01,13.82,13.11,5.63,17.64,12.24,13.819999,13.819999,13.819999
6,2019-01-01,13.68,12.99,5.67,17.29,11.96,13.679999,13.679999,13.679999
7,2018-12-01,13.60,13.12,5.61,17.34,12.10,13.895235,13.895235,13.895235
8,2018-11-01,14.17,13.78,5.77,18.17,12.04,14.477609,14.477609,14.477609
9,2018-10-01,15.26,14.99,6.07,19.29,12.08,15.591271,15.591271,15.591271
10,2018-09-01,16.10,16.07,6.07,19.28,13.07,16.449506,16.449506,16.449506
11,2018-08-01,15.78,15.52,6.06,19.03,12.05,16.122560,16.122560,16.122560
12,2018-07-01,16.22,16.05,6.29,19.38,13.34,16.572111,16.572111,16.572111
13,2018-06-01,15.47,15.12,5.99,19.30,13.65,15.805830,15.805830,15.805830
14,2018-05-01,14.32,13.71,6.55,18.52,12.27,14.630865,14.630865,14.630865
15,2018-04-01,13.88,13.36,5.59,18.00,12.11,14.181314,14.181314,14.181314
16,2018-03-01,13.84,13.37,5.49,17.53,12.28,14.140445,14.140445,14.140445
17,2018-02-01,14.35,13.60,6.65,18.20,12.49,14.661517,14.661517,14.661517
18,2018-01-01,14.68,14.43,6.39,17.75,10.36,14.998680,14.998680,14.998680
19,2017-12-01,13.71,13.46,5.85,16.99,12.21,14.349747,14.349747,14.349747
20,2017-11-01,14.00,13.91,5.76,17.80,12.21,14.653279,14.653279,14.653279
21,2017-10-01,15.02,15.02,6.15,18.74,12.53,15.720875,15.720875,15.720875
22,2017-09-01,15.73,16.13,6.19,18.80,13.36,16.464005,16.464005,16.464005
23,2017-08-01,15.72,15.95,6.20,18.56,13.69,16.453539,16.453539,16.453539
24,2017-07-01,15.91,16.10,5.92,18.79,13.61,16.652405,16.652405,16.652405
25,2017-06-01,15.65,15.96,6.11,18.74,13.77,16.380272,16.380272,16.380272
26,2017-05-01,14.61,14.54,6.20,18.53,12.85,15.291743,15.291743,15.291743
27,2017-04-01,13.76,13.78,5.87,17.30,11.92,14.402080,14.402080,14.402080
28,2017-03-01,14.16,14.20,5.87,17.02,12.14,14.820745,14.820745,14.820745
29,2017-02-01,13.77,13.42,4.98,17.48,11.92,14.412546,14.412546,14.412546
...,...,...,...,...,...,...,...,...,...
193,2003-06-01,12.81,13.44,7.03,14.98,9.69,17.861455,17.861455,17.861455
194,2003-05-01,12.34,12.82,7.02,14.77,9.27,17.206117,17.206117,17.206117
195,2003-04-01,12.51,12.97,7.59,14.55,9.45,17.443154,17.443154,17.443154
196,2003-03-01,12.15,12.43,7.60,13.91,9.32,16.941193,16.941193,16.941193
197,2003-02-01,11.53,11.69,7.46,13.30,9.03,16.076704,16.076704,16.076704
198,2003-01-01,11.05,11.01,7.24,12.77,8.82,15.407422,15.407422,15.407422
199,2002-12-01,10.84,11.83,4.94,13.19,0.00,15.459080,15.459080,15.459080
200,2002-11-01,10.54,11.55,4.92,13.37,0.00,15.031246,15.031246,15.031246
201,2002-10-01,11.49,12.92,5.34,13.87,0.00,16.386054,16.386054,16.386054
202,2002-09-01,11.77,13.07,5.13,14.42,0.00,16.785366,16.785366,16.785366
203,2002-08-01,12.16,13.58,5.23,14.16,0.00,17.341551,17.341551,17.341551
204,2002-07-01,12.29,13.89,5.34,14.19,0.00,17.526946,17.526946,17.526946
205,2002-06-01,11.52,12.72,5.58,14.01,0.00,16.428838,16.428838,16.428838
206,2002-05-01,10.69,11.77,5.17,13.30,0.00,15.245163,15.245163,15.245163
207,2002-04-01,10.45,11.66,5.06,12.69,0.00,14.902895,14.902895,14.902895
208,2002-03-01,10.53,11.53,5.16,12.81,0.00,15.016985,15.016985,15.016985
209,2002-02-01,10.33,11.18,4.81,13.00,0.00,14.731762,14.731762,14.731762
210,2002-01-01,10.67,11.45,5.47,12.95,0.00,15.216641,15.216641,15.216641
211,2001-12-01,10.87,11.79,5.38,13.25,0.00,15.746952,15.746952,15.746952
212,2001-11-01,10.61,11.66,5.18,13.53,0.00,15.370300,15.370300,15.370300
213,2001-10-01,11.83,13.74,5.30,14.22,0.00,17.137667,17.137667,17.137667
214,2001-09-01,12.02,13.95,5.39,14.23,0.00,17.412913,17.412913,17.412913
215,2001-08-01,12.69,14.74,6.03,14.61,0.00,18.383516,18.383516,18.383516
216,2001-07-01,13.26,14.55,6.55,14.99,0.00,19.209254,19.209254,19.209254
217,2001-06-01,11.46,12.72,5.48,14.41,0.00,16.601663,16.601663,16.601663
218,2001-05-01,10.97,11.88,5.45,14.01,0.00,15.891818,15.891818,15.891818
219,2001-04-01,10.70,11.49,5.59,13.44,0.00,15.500680,15.500680,15.500680
220,2001-03-01,11.01,12.09,5.36,13.58,0.00,15.949765,15.949765,15.949765
221,2001-02-01,11.17,12.31,5.72,13.93,0.00,16.181551,16.181551,16.181551
222,2001-01-01,11.53,12.70,5.50,13.89,0.00,16.703069,16.703069,16.703069

### Net generation of energy by source

In [41]:
list_of_fuels = ["COL","NG", "WAT", "OTH", "NUC", "OIL", "SUN", "WND"]

New York

In [129]:
net_gen_hr_NY=pd.DataFrame()
for fuel in list_of_fuels:
    url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=EBA.NYIS-ALL.NG.{fuel}.HL'
    response = requests.get(url)
    rsp = response.json()
    net_gen_dates =  pd.DataFrame(rsp["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x[:-3], '%Y%m%dT%H'))
    net_gen_MWh = pd.DataFrame(rsp["series"][0]['data'])[1]
    net_gen_hr_NY["Date"] = net_gen_dates
    net_gen_hr_NY[fuel] = net_gen_MWh

In [130]:
net_gen_hr_NY

                     Date  COL     NG   WAT   OTH   OIL  SUN   WND   NUC
0     2019-10-02 00:00:00    0   4012  3088   191   922    0   765  5211
1     2019-10-01 23:00:00    0   5043  3059   190   974    0   847  5238
2     2019-10-01 22:00:00    0   6250  3179   190   979    0  1105  5253
3     2019-10-01 21:00:00    0   7106  3409   190   977    0  1250  5240
4     2019-10-01 20:00:00    0   7455  3531   191   977    0  1183  5235
5     2019-10-01 19:00:00    0   7513  3428   188   975    0   952  5222
6     2019-10-01 18:00:00    0   7504  3204   193   972    0  1121  5235
7     2019-10-01 17:00:00    0   7414  3357   198   975    0  1083  5257
8     2019-10-01 16:00:00    0   6950  3597   205   980    0   955  5283
9     2019-10-01 15:00:00    0   6600  3406   213   980    0   832  5270
10    2019-10-01 14:00:00    0   6248  3288   220   987    0   628  5275
11    2019-10-01 13:00:00    0   6078  3006   210   987    0   620  5235
12    2019-10-01 12:00:00    0   5824  2972   205   992    0   566  5227
13    2019-10-01 11:00:00    0   5429  2973   195   990    0   475  5223
14    2019-10-01 10:00:00    0   5066  2871   192   986    0   502  5216
15    2019-10-01 09:00:00    0   4821  2793   187   950    0   489  5228
16    2019-10-01 08:00:00    0   4220  2972   186   947    0   476  5219
17    2019-10-01 07:00:00    0   3558  3052   190   915    0   583  5219
18    2019-10-01 06:00:00    0   2463  2751   186   823    0   516  5206
19    2019-10-01 05:00:00    0   2118  2677   187   817    0   478  5186
20    2019-10-01 04:00:00    0   1963  2547   186   819    0   566  5184
21    2019-10-01 03:00:00    0   2027  2617   184   819    0   524  5183
22    2019-10-01 02:00:00    0   2048  2701   184   824    0   502  5189
23    2019-10-01 01:00:00    0   2118  2691   180   837    0   474  5167
24    2019-10-01 00:00:00    0   2756  2787   175   936    0   419  5223
25    2019-09-30 23:00:00    0   3470  2869   173  1001    0   383  5264
26    2019-09-30 22:00:00    0   4220  2865   174  1012    0   380  5304
27    2019-09-30 21:00:00    0   4685  3109   175  1014    0   318  5289
28    2019-09-30 20:00:00    0   5290  3011   173  1012    0   370  5279
29    2019-09-30 19:00:00    0   5406  2946   172  1011    0   341  5287
...                   ...  ...    ...   ...   ...   ...  ...   ...   ...
10948 2018-07-02 06:00:00    0   7787  2406  1055     0    0   564  5183
10949 2018-07-02 05:00:00    0   7478  2308  1011     0    0   499  5155
10950 2018-07-02 04:00:00    0   7562  2354  1069     0    0   464  5145
10951 2018-07-02 03:00:00    0   7793  2315  1184     0    0   469  5201
10952 2018-07-02 02:00:00    0   8449  2321  1232     0    0   439  5195
10953 2018-07-02 01:00:00    0   9635  2784  1277     0    0   369  5258
10954 2018-07-02 00:00:00    0  10500  3154  1300     0    0   244  5281
10955 2018-07-01 23:00:00    0  12209  3272  1036   342    0   184  5318
10956 2018-07-01 22:00:00    0  13790  3730  1039   398    0   127  5315
10957 2018-07-01 21:00:00    0  14508  3637  1039   522    0    62  5318
10958 2018-07-01 20:00:00    0  14872  3887  1042   621    0    37  5331
10959 2018-07-01 19:00:00    0  15127  4172  1037   615    0    32  5325
10960 2018-07-01 18:00:00    0  15220  4544  1026   479    0    29  5306
10961 2018-07-01 17:00:00    0  15121  4620  1053   448    0    18  5297
10962 2018-07-01 16:00:00    0  14919  4441  1061   425    0    13  5296
10963 2018-07-01 15:00:00    0  14391  3912  1064   387    0     0  5292
10964 2018-07-01 14:00:00    0  13958  3874  1056   384    0     3  5286
10965 2018-07-01 13:00:00    0  12968  3767  1026   383    0    11  5288
10966 2018-07-01 12:00:00    0  11774  3708   952   359    0    16  5281
10967 2018-07-01 11:00:00    0  10232  3617   995     0    0    16  5297
10968 2018-07-01 10:00:00    0   8967  3308   756     0    0    34  5295
10969 2018-07-01 09:00:00    0   7402  3247   683     0    0   111  5265
10970 2018-07-01 08:00:00    0   6857  2817   637     0    0   155  5271
10971 2018-07-01 07:00:00    0   5818  2446   602     0    0   183  4981
10972 2018-07-01 06:00:00    0   5397  2240   637     0    0   265  5078
10973 2018-07-01 05:00:00    0   5334  2249   621     0    0   342  5086
10974 2018-07-01 04:00:00    0   5418  2276   666     0    0   482  5082
10975 2018-07-01 03:00:00    0   5616  2354   776     0    0   552  5093
10976 2018-07-01 02:00:00    0   6359  2486  1083     0    0   527  5281
10977 2018-07-01 01:00:00    0   7324  2544  1058     0    0   567  5316

[10978 rows x 9 columns]

In [288]:
pd.DataFrame.to_csv(net_gen_hr_NY, 'net_gen_hr_NY.csv', sep=',', na_rep='.', index=False)

California

In [131]:
net_gen_hr_CA=pd.DataFrame()
for fuel in list_of_fuels:
    url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=EBA.CISO-ALL.NG.{fuel}.HL'
    response = requests.get(url)
    rsp = response.json()
    net_gen_dates =  pd.DataFrame(rsp["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x[:-3], '%Y%m%dT%H'))
    net_gen_MWh = pd.DataFrame(rsp["series"][0]['data'])[1]
    net_gen_hr_CA["Date"] = net_gen_dates
    net_gen_hr_CA[fuel] = net_gen_MWh

In [132]:
net_gen_hr_CA

                     Date  COL     NG     WAT   OTH  OIL    SUN     WND   NUC
0     2019-10-02 00:00:00   18  13166  1278.0  -7.0   -1    534  1475.0  1140
1     2019-10-01 23:00:00   16  12979  1277.0  -7.0   -2    534  1475.0  1142
2     2019-10-01 22:00:00   14  12168  1267.0 -17.0   -2    533  1475.0  1142
3     2019-10-01 21:00:00   14  11952  1409.0   1.0   -2    533  1475.0  1138
4     2019-10-01 20:00:00   12  11791  1182.0 -53.0   -2    604  1475.0  1137
5     2019-10-01 19:00:00   14   2908  1526.0   7.0   -2   9477  1475.0  1136
6     2019-10-01 18:00:00   14   3294  2536.0  19.0   -2   9457  1475.0  1136
7     2019-10-01 17:00:00   14   4316  3462.0  -7.0   -2   9248  1475.0  1138
8     2019-10-01 16:00:00   14   4947  3372.0   5.0   -2   9121  1641.0  1136
9     2019-10-01 15:00:00   15   4608  2952.0  20.0   -2   9990  1742.0  1138
10    2019-10-01 14:00:00   15   4782  2526.0  -6.0   -2   9880  1914.0  1138
11    2019-10-01 13:00:00   13   5099  2387.0  47.0   -2   9857  2322.0  1139
12    2019-10-01 12:00:00   14   5094  2367.0   4.0   -2   9860  2629.0  1138
13    2019-10-01 11:00:00   14   5318  2318.0  -2.0   -2   9552  2706.0  1138
14    2019-10-01 10:00:00   12   6244  2574.0  21.0   -2   9147  3101.0  1139
15    2019-10-01 09:00:00    7   6223  2874.0  50.0   -3   8207  3627.0  1139
16    2019-10-01 08:00:00    8   7136  3548.0 -24.0   -3   4633  3748.0  1138
17    2019-10-01 07:00:00    9   8142  3795.0   5.0   -3    420  3713.0  1137
18    2019-10-01 06:00:00   14   7681  3779.0 -29.0   -3    -41  3870.0  1137
19    2019-10-01 05:00:00   18   6524  3827.0 -48.0   -3    -41  3792.0  1138
20    2019-10-01 04:00:00   16   5919  3430.0 -46.0   -2    -39  3438.0  1137
21    2019-10-01 03:00:00   16   5649  2819.0  42.0   -2    -41  3727.0  1137
22    2019-10-01 02:00:00   15   6062  1589.0 -52.0   -3    -37  3677.0  1136
23    2019-10-01 01:00:00   14   6372  1525.0 -40.0   -3    -38  3961.0  1138
24    2019-10-01 00:00:00   15   6808  1610.0 -24.0   -3    -38  4044.0  1139
25    2019-09-30 23:00:00   14   7262  1751.0   3.0   -3    -38  3964.0  1138
26    2019-09-30 22:00:00   16   7586  1759.0   4.0   -3    -39  3939.0  1136
27    2019-09-30 21:00:00   16   8025  1768.0   8.0   -3    -39  3610.0  1136
28    2019-09-30 20:00:00   15   8307  2185.0   1.0   -4    -39  2907.0  1134
29    2019-09-30 19:00:00   18   8317  2325.0 -19.0   28     -9  2709.0  1133
...                   ...  ...    ...     ...   ...  ...    ...     ...   ...
10834 2018-07-02 06:00:00    8   6585  4497.0   5.0   86    237  3460.0  2263
10835 2018-07-02 05:00:00   10   5348  4609.0  14.0   85    -31  2903.0  2261
10836 2018-07-02 04:00:00    8   4786  3871.0   9.0   86    -31  2171.0  2262
10837 2018-07-02 03:00:00    9   4923  3001.0  -8.0   88    -31  1449.0  2259
10838 2018-07-02 02:00:00    9   5282  2557.0  -6.0   85    -32  1276.0  2259
10839 2018-07-02 01:00:00    9   5705  2284.0  28.0   87    -32  1124.0  2259
10840 2018-07-02 00:00:00    8   7004  2164.0  -7.0   85    -33  1090.0  2260
10841 2018-07-01 23:00:00    9   8231  2155.0 -21.0   85    -33  1095.0  2262
10842 2018-07-01 22:00:00   10   9397  2084.0  26.0   87    -33  1019.0  2264
10843 2018-07-01 21:00:00    8  10915  1743.0 -28.0   87    -34   935.0  2266
10844 2018-07-01 20:00:00    8  11319  1431.0   7.0   87    417  1148.0  2265
10845 2018-07-01 19:00:00    8  11030  1400.0  -8.0   87   2512  1573.0  2263
10846 2018-07-01 18:00:00    9   9786  1298.0 -12.0   87   6235  2085.0  2263
10847 2018-07-01 17:00:00   10   9766  1798.0 -38.0   87   8240  2666.0  2260
10848 2018-07-01 16:00:00    9   8916  2589.0  -1.0   87   9176  3156.0  2260
10849 2018-07-01 15:00:00    8   7532  2492.0 -47.0   87   9761  3630.0  2261
10850 2018-07-01 14:00:00    9   6460  2326.0  41.0   87  10044  3710.0  2260
10851 2018-07-01 13:00:00    7   5165  2389.0 -10.0   87  10121  4087.0  2259
10852 2018-07-01 12:00:00   10   3732  2467.0  24.0   87  10125  3958.0  2257
10853 2018-07-01 11:00:00    8   3592  2442.0 -10.0   87   9966     NaN  2258
10854 2018-07-01 10:00:00    8   3790     NaN   NaN   87   9492     NaN  2260
10855 2018-07-01 09:00:00    9   3783     NaN   NaN   87   8710     NaN  2263
10856 2018-07-01 08:00:00    8   3864     NaN   NaN   87   7065     NaN  2263
10857 2018-07-01 07:00:00    7   4382     NaN   NaN   87   3335     NaN  2263
10858 2018-07-01 06:00:00    8   4951     NaN   NaN   87    244     NaN  2260
10859 2018-07-01 05:00:00    8   5249     NaN   NaN   87    -38     NaN  2260
10860 2018-07-01 04:00:00    8   5067     NaN   NaN   87    -38     NaN  2257
10861 2018-07-01 03:00:00    6   5298     NaN   NaN   87    -36     NaN  2258
10862 2018-07-01 02:00:00    9   5543     NaN   NaN   87    -35     NaN  2261
10863 2018-07-01 01:00:00    7   7339     NaN   NaN   87    -36     NaN  2267

[10864 rows x 9 columns]

In [289]:
pd.DataFrame.to_csv(net_gen_hr_CA, 'net_gen_hr_CA.csv', sep=',', na_rep='.', index=False)

Florida

In [42]:
net_gen_hr_FLA=pd.DataFrame()
for fuel in list_of_fuels:
    url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=EBA.FLA-ALL.NG.{fuel}.HL'
    response = requests.get(url)
    rsp = response.json()
    net_gen_dates =  pd.DataFrame(rsp["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x[:-3], '%Y%m%dT%H'))
    net_gen_MWh = pd.DataFrame(rsp["series"][0]['data'])[1]
    net_gen_hr_FLA["Date"] = net_gen_dates
    net_gen_hr_FLA[fuel] = net_gen_MWh

KeyError: 'series'

In [43]:
net_gen_hr_FLA

                     Date   COL     NG   WAT   OTH   NUC  OIL   SUN
0     2019-10-02 00:00:00  1978  17474  14.0  2257  3804    0     0
1     2019-10-01 23:00:00  2092  19917  13.0  2304  3805    1     0
2     2019-10-01 22:00:00  2109  22559  11.0  2484  3800    0     0
3     2019-10-01 21:00:00  2146  24599  11.0  2594  3800    0     0
4     2019-10-01 20:00:00  2075  25943  11.0  2664  3801    0     1
5     2019-10-01 19:00:00  2082  26318  10.0  2621  3797    0   213
6     2019-10-01 18:00:00  2144  26983  10.0  2658  3801   36   684
7     2019-10-01 17:00:00  2176  27159  10.0  2671  3794    0   984
8     2019-10-01 16:00:00  2168  26491  10.0  2663  3797    0  1235
9     2019-10-01 15:00:00  2127  26375  10.0  2652  3799    0  1252
10    2019-10-01 14:00:00  2085  25497  12.0  2622  3794    0  1214
11    2019-10-01 13:00:00  2054  23847  12.0  2606  3795    0  1283
12    2019-10-01 12:00:00  2100  22306  12.0  2625  3798    0  1213
13    2019-10-01 11:00:00  2059  20566  11.0  2578  3792    0  1051
14    2019-10-01 10:00:00  2059  18665  10.0  2462  3806    0   863
15    2019-10-01 09:00:00  2014  17324  12.0  2283  3807    0   380
16    2019-10-01 08:00:00  2049  16573  11.0  2164  3801    0    29
17    2019-10-01 07:00:00  2038  15608  14.0  2177  3802    0     0
18    2019-10-01 06:00:00  1886  13884  14.0  2173  3803    0     0
19    2019-10-01 05:00:00  1876  12886  14.0  2145  3805    0     0
20    2019-10-01 04:00:00  1871  12964  14.0  2139  3803    0     0
21    2019-10-01 03:00:00  1879  13495  15.0  2157  3805    0     0
22    2019-10-01 02:00:00  1927  14623  14.0  2196  3798    0     0
23    2019-10-01 01:00:00  2022  16033  10.0  2194  3799    0    -1
24    2019-10-01 00:00:00  2496  18707  10.0  2152  3802    0     0
25    2019-09-30 23:00:00  2608  21536  10.0  2238  3802    0     0
26    2019-09-30 22:00:00  2617  24223  10.0  2401  3795    0     0
27    2019-09-30 21:00:00  2564  26915  10.0  2550  3800    0   656
28    2019-09-30 20:00:00  2507  27975  10.0  2642  3799    0     4
29    2019-09-30 19:00:00  2373  29302  10.0  2684  3801    0   234
...                   ...   ...    ...   ...   ...   ...  ...   ...
10962 2018-07-02 06:00:00  2260  15084  32.0  1020  3783    0     0
10963 2018-07-02 05:00:00  2213  14400  31.0   981  3782    0     0
10964 2018-07-02 04:00:00  2216  14561  32.0   964  3784    0     0
10965 2018-07-02 03:00:00  2264  15327  31.0   966  3778    0     0
10966 2018-07-02 02:00:00  2427  16553  32.0   983  3785    0     0
10967 2018-07-02 01:00:00  2749  18166  31.0  1017  3778    0     0
10968 2018-07-02 00:00:00  3284  20277  32.0  1024  3779    0     0
10969 2018-07-01 23:00:00  3603  21926   NaN  1180  3773    0     0
10970 2018-07-01 22:00:00  3947  23823   NaN  1428  3767    0     0
10971 2018-07-01 21:00:00  3917  24281   NaN  1542  3768    0     4
10972 2018-07-01 20:00:00  4085  26010   NaN  1477  3770    0    54
10973 2018-07-01 19:00:00  4200  28277   NaN  1534  3765    7   200
10974 2018-07-01 18:00:00  4247  29276   NaN  1619  3768   50   341
10975 2018-07-01 17:00:00  4335  29118   NaN  1605  3769  111   623
10976 2018-07-01 16:00:00  4165  28590   NaN  1624  3776    0   700
10977 2018-07-01 15:00:00  4101  27134   NaN  1650  3778    0   714
10978 2018-07-01 14:00:00  4021  26296   NaN  1659  3782    0   712
10979 2018-07-01 13:00:00  4077  25188   NaN  1669  3783    0   693
10980 2018-07-01 12:00:00  3848  23719   NaN  1681  3785    0   647
10981 2018-07-01 11:00:00  3488  22074   NaN  1560  3788    0   601
10982 2018-07-01 10:00:00  2944  19778   NaN  1453  3785    0   474
10983 2018-07-01 09:00:00  2341  17305   NaN  1236  3784    0   239
10984 2018-07-01 08:00:00  1984  14461   NaN  1115  3787    0    45
10985 2018-07-01 07:00:00  1978  13135   NaN   935  3789    0     3
10986 2018-07-01 06:00:00  2025  12931   NaN   918  3784    0     0
10987 2018-07-01 05:00:00  1994  12939   NaN   914  3786    0     0
10988 2018-07-01 04:00:00  1867  13336   NaN   890  3782    0     0
10989 2018-07-01 03:00:00  1960  13900   NaN   906  3789    0     0
10990 2018-07-01 02:00:00  2105  14799   NaN   902  3785    0     0
10991 2018-07-01 01:00:00  2265  15985   NaN   949  3786    0     0

[10992 rows x 8 columns]

In [290]:
pd.DataFrame.to_csv(net_gen_hr_FLA, 'net_gen_hr_FLA.csv', sep=',', na_rep='.', index=False)

New England

In [522]:
net_gen_hr_NE=pd.DataFrame()
for fuel in list_of_fuels:
    url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=EBA.NE-ALL.NG.{fuel}.HL'
    response = requests.get(url)
    rsp = response.json()
    net_gen_dates =  pd.DataFrame(rsp["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x[:-3], '%Y%m%dT%H'))
    net_gen_MWh = pd.DataFrame(rsp["series"][0]['data'])[1]
    net_gen_hr_NE["Date"] = net_gen_dates
    net_gen_hr_NE[fuel] = net_gen_MWh

In [523]:
net_gen_hr_NE

                     Date  COL     NG   WAT  OTH   NUC  OIL  SUN  WND
0     2019-10-02 00:00:00    0   6051   320  635  3288    0    0  646
1     2019-10-01 23:00:00    0   6978   262  632  3275    4    0  672
2     2019-10-01 22:00:00   14   8123   277  648  3273   15    0  610
3     2019-10-01 21:00:00   26   8748   433  649  3279   15    0  613
4     2019-10-01 20:00:00   31   9196  1119  640  3293   15    0  527
5     2019-10-01 19:00:00   39   9138  1212  641  3315   15    1  502
6     2019-10-01 18:00:00   26   9261  1178  630  3307   15   18  445
7     2019-10-01 17:00:00   26   9034   915  635  3325   15   47  379
8     2019-10-01 16:00:00   26   8722   588  631  3310   15   51  341
9     2019-10-01 15:00:00   26   8476   560  610  3321   15   61  246
10    2019-10-01 14:00:00   26   8200   649  600  3320   15   52  206
11    2019-10-01 13:00:00   15   7956   738  607  3314   15   34  202
12    2019-10-01 12:00:00    0   8081   690  604  3313   15   27  194
13    2019-10-01 11:00:00    0   8025   723  597  3307   15   27  165
14    2019-10-01 10:00:00    0   7861   786  593  3315   15   18  174
15    2019-10-01 09:00:00    0   7600   865  581  3322   15    7  166
16    2019-10-01 08:00:00    0   7072   832  582  3321   13    1  176
17    2019-10-01 07:00:00    0   6114   709  584  3332    0    0  176
18    2019-10-01 06:00:00    0   5109   316  574  3352    0    0  187
19    2019-10-01 05:00:00    0   4279   241  566  3334    0    0  171
20    2019-10-01 04:00:00    0   4004   238  564  3315    0    0  171
21    2019-10-01 03:00:00    0   4066   235  555  3302    0    0  169
22    2019-10-01 02:00:00    0   4321   234  553  3303    0    0  199
23    2019-10-01 01:00:00    0      0     0    0     0    0    0    0
24    2019-10-01 00:00:00   27   5343   230  560  3277    0    0  185
25    2019-09-30 23:00:00   27   6440   223  569  3257    0    0  142
26    2019-09-30 22:00:00   27   7609   352  589  3299   12    0  123
27    2019-09-30 21:00:00   27   8146   723  597  3296   15    0  102
28    2019-09-30 20:00:00   27   8538  1124  600  3304   15    0   56
29    2019-09-30 19:00:00   27   8588   955  598  3321   15    1   26
...                   ...  ...    ...   ...  ...   ...  ...  ...  ...
10962 2018-07-02 06:00:00  368   7405   442  921  3981   35    0  289
10963 2018-07-02 05:00:00  369   7338   419  917  3986   12    0  277
10964 2018-07-02 04:00:00  370   7258   416  934  4002    2    0  254
10965 2018-07-02 03:00:00  358   7592   417  925  4007    0    0  251
10966 2018-07-02 02:00:00  405   7839   414  928  3974   18    0  282
10967 2018-07-02 01:00:00  438   7977   421  956  3985   20    0  290
10968 2018-07-02 00:00:00  323   9037   450  932  3923   20    0  284
10969 2018-07-01 23:00:00  334  10749   560  937  3919   21    0  248
10970 2018-07-01 22:00:00  414  12543   696  965  3992   27    0  180
10971 2018-07-01 21:00:00  456  12925   869  962  3966   27    0  105
10972 2018-07-01 20:00:00  421  12995  1557  967  3986   27    4   57
10973 2018-07-01 19:00:00  483  13055  1837  959  3981   65   17   31
10974 2018-07-01 18:00:00  451  12904  1986  952  3956   70   33   25
10975 2018-07-01 17:00:00  488  12834  1741  950  3953   54   59   26
10976 2018-07-01 16:00:00  443  12604  1647  947  3927   32   71   28
10977 2018-07-01 15:00:00  453  12535  1212  934  3908   17   82   30
10978 2018-07-01 14:00:00  451  12261   862  925  3884    4   86   37
10979 2018-07-01 13:00:00  438  11865  1012  907  3825    0   82   61
10980 2018-07-01 12:00:00  378  11224  1064  894  3738    0   84   69
10981 2018-07-01 11:00:00  260  10331   557  857  3900    0   68   84
10982 2018-07-01 10:00:00  248   8740   512  851  3946    0   50  132
10983 2018-07-01 09:00:00  247   7088   552  838  3949    0   34  213
10984 2018-07-01 08:00:00  246   6075   504  839  3935    3   19  270
10985 2018-07-01 07:00:00  246   5491   487  850  3985   14    7  265
10986 2018-07-01 06:00:00  246   5726   435  856  4015    0    1  214
10987 2018-07-01 05:00:00  242   5916   425  864  4017    0    0  283
10988 2018-07-01 04:00:00  240   6193   424  864  3998    0    0  342
10989 2018-07-01 03:00:00  239   6336   423  863  3981    0    0  412
10990 2018-07-01 02:00:00  241   6367   432  894  4024    0    0  424
10991 2018-07-01 01:00:00  240   7049   448  918  4002    0    0  421

[10992 rows x 9 columns]

In [524]:
pd.DataFrame.to_csv(net_gen_hr_NE, 'net_gen_hr_NE.csv', sep=',', na_rep='.', index=False)

## MySQL Database data inserting

Create tables in database

In [119]:
db_name = 'energydb'

In [473]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.login,
    passwd = config.password,
    database = db_name
)
cursor = cnx.cursor(buffered=True)

In [468]:
table_net_gen_NY = """CREATE TABLE NY_net_gen(
                    Date DATETIME PRIMARY KEY,
                    Coal REAL,
                    NaturalGas REAL,
                    Hydro REAL,
                    Other REAL,
                    Petroleum REAL,
                    Solar REAL,
                    Wind REAL,
                    Nuclear REAL)"""

In [471]:
cursor.execute(table_net_gen_NY)
cnx.commit()

In [486]:
table_net_gen_CA = """CREATE TABLE CA_net_gen(
                    Date DATETIME PRIMARY KEY,
                    Coal REAL,
                    NaturalGas REAL,
                    Hydro REAL,
                    Other REAL,
                    Petroleum REAL,
                    Solar REAL,
                    Wind REAL,
                    Nuclear REAL)"""

In [489]:
cursor.execute(table_net_gen_CA)
cnx.commit()

In [565]:
table_net_gen_FLA = """CREATE TABLE FLA_net_gen(
                    Date DATETIME PRIMARY KEY,
                    Coal REAL,
                    NaturalGas REAL,
                    Hydro REAL,
                    Other REAL,
                    Petroleum REAL,
                    Solar REAL,
                    Nuclear REAL)"""

In [568]:
cursor.execute(table_net_gen_FLA)
cnx.commit()

In [496]:
table_net_gen_NE = """CREATE TABLE NE_net_gen(
                    Date DATETIME PRIMARY KEY,
                    Coal REAL,
                    NaturalGas REAL,
                    Hydro REAL,
                    Other REAL,
                    Petroleum REAL,
                    Solar REAL,
                    Wind REAL,
                    Nuclear REAL)"""

In [527]:
cursor.execute(table_net_gen_NE)
cnx.commit()

In [125]:
table_demand_NY = """CREATE TABLE NY_demand(
                    Date DATETIME PRIMARY KEY,
                    Demand REAL)"""

In [ ]:
cursor.execute(table_demand_NY)
cnx.commit()

Inserting to database

In [ ]:
table_name = "retail_price_adj"
column_names = list_of_states
column_datatype = "REAL"
create_st='CREATE TABLE '+table_name + "(`dates` DATE PRIMARY KEY, "
i=0
while i<len(column_names)-1 :
    create_st =create_st +f"`{column_names[i]}`" +' '+column_datatype+', '
    i=i+1

create_st =create_st +f"`{column_names[i]}`"  +' '+column_datatype+');'

In [476]:
cursor.execute(create_st)
cnx.commit()

In [121]:
def send_to_sql_price(dflisty, cursor):
    """
    sends energy prices for all states to sql db
    """
    for i, rows in dflisty.iterrows():
        cursor.execute("""INSERT INTO retail_price(dates, AL , AK , AZ , AR , CA , CO , CT , DE , DC , FL , GA , HI , `ID` , IL , `IN` , IA , KS , KY , LA , ME , MD , MA , MI , MN , MS , MO , MT , NE , NV , NH , NJ , NM , NY , NC , ND , OH , OK , `OR` , PA , RI , SC , SD , TN , TX , UT , VT , VA , WA , WV , WI , WY) VALUES ('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',"{}")""".format(rows['Date'],rows['AL'],rows['AK'],rows['AZ'],rows['AR'],rows['CA'],rows['CO'],rows['CT'],rows['DE'],rows['DC'],rows['FL'],rows['GA'],rows['HI'],rows['ID'],rows['IL'],rows['IN'],rows['IA'],rows['KS'],rows['KY'],rows['LA'],rows['ME'],rows['MD'],rows['MA'],rows['MI'],rows['MN'],rows['MS'],rows['MO'],rows['MT'],rows['NE'],rows['NV'],rows['NH'],rows['NJ'],rows['NM'],rows['NY'],rows['NC'],rows['ND'],rows['OH'],rows['OK'],rows['OR'],rows['PA'],rows['RI'],rows['SC'],rows['SD'],rows['TN'],rows['TX'],rows['UT'],rows['VT'],rows['VA'],rows['WA'],rows['WV'],rows['WI'],rows['WY']))
        cnx.commit()

In [455]:
send_to_sql_price(retail_energy_price_by_state,cursor)

In [122]:
def send_to_sql_price_adj(dflisty, cursor):
    """
    sends energy prices for all states to sql db
    """
    for i, rows in dflisty.iterrows():
        cursor.execute("""INSERT INTO retail_price_adj(dates, AL , AK , AZ , AR , CA , CO , CT , DE , DC , FL , GA , HI , `ID` , IL , `IN` , IA , KS , KY , LA , ME , MD , MA , MI , MN , MS , MO , MT , NE , NV , NH , NJ , NM , NY , NC , ND , OH , OK , `OR` , PA , RI , SC , SD , TN , TX , UT , VT , VA , WA , WV , WI , WY) VALUES ('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}','{}',"{}")""".format(rows['Date'],rows['AL'],rows['AK'],rows['AZ'],rows['AR'],rows['CA'],rows['CO'],rows['CT'],rows['DE'],rows['DC'],rows['FL'],rows['GA'],rows['HI'],rows['ID'],rows['IL'],rows['IN'],rows['IA'],rows['KS'],rows['KY'],rows['LA'],rows['ME'],rows['MD'],rows['MA'],rows['MI'],rows['MN'],rows['MS'],rows['MO'],rows['MT'],rows['NE'],rows['NV'],rows['NH'],rows['NJ'],rows['NM'],rows['NY'],rows['NC'],rows['ND'],rows['OH'],rows['OK'],rows['OR'],rows['PA'],rows['RI'],rows['SC'],rows['SD'],rows['TN'],rows['TX'],rows['UT'],rows['VT'],rows['VA'],rows['WA'],rows['WV'],rows['WI'],rows['WY']))
        cnx.commit()

In [483]:
send_to_sql_price_adj(retail_energy_price_by_state_adj,cursor)

In [511]:
def send_to_sql_net_gen(dflisty, cursor,region):
    """
    sends net generation data to sql db
    """
    for i, rows in dflisty.iterrows():
        cursor.execute(f"""INSERT INTO {region}_net_gen(Date, Coal, NaturalGas, Hydro,
                    Other, Petroleum, Solar, Wind, Nuclear) VALUES ("{rows['Date']}","{rows['COL']}","{rows['NG']}","{rows['WAT']}","{rows['OTH']}","{rows['OIL']}","{rows['SUN']}","{rows['WND']}","{rows['NUC']}")""")
        cnx.commit()

In [539]:
send_to_sql_net_gen(net_gen_hr_NY,cursor, 'NY')

IntegrityError: 1062 (23000): Duplicate entry '2018-11-03 11:00:00' for key 'PRIMARY'

In [541]:
send_to_sql_net_gen(net_gen_hr_NE,cursor, 'NE')

In [559]:
send_to_sql_net_gen(net_gen_hr_CA,cursor, 'CA')

In [124]:
def send_to_sql_net_gen_fla(dflisty, cursor,region):
    """
    sends net generation data from Florida to sql db
    """
    for i, rows in dflisty.iterrows():
        cursor.execute(f"""INSERT INTO {region}_net_gen(Date, Coal, NaturalGas, Hydro,
                    Other, Petroleum, Solar, Nuclear) VALUES ("{rows['Date']}","{rows['COL']}","{rows['NG']}","{rows['WAT']}","{rows['OTH']}","{rows['OIL']}","{rows['SUN']}","{rows['NUC']}")""")
        cnx.commit()

In [47]:
send_to_sql_net_gen_fla(net_gen_hr_FLA,cursor, "FLA")

In [30]:
def send_to_sql_demand(dflisty, cursor):
    """
    sends df to sql db
    """
    for i, rows in dflisty.iterrows():
        cursor.execute(f"""INSERT INTO NY_demand(Date, Demand) VALUES ("{rows['Date']}","{rows['Demand [MWh]']}")""")
        cnx.commit()

In [39]:
send_to_sql_demand(demand_NY,cursor)

Another way to put dataframe to sql db

In [66]:
import sqlalchemy
database_username = config.login
database_password = config.password
database_ip       = config.host
database_name     = db_name
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [99]:
df_merged

,Date,All_sectors,Commercial,Industrial,Residential,Transportation
0,2019-07-01,15.43,15.27,5.69,18.65,12.85
1,2019-06-01,14.80,14.76,5.25,18.56,12.95
2,2019-05-01,13.87,13.43,5.74,17.38,12.36
3,2019-04-01,13.50,13.07,5.45,17.56,11.88
4,2019-03-01,13.42,12.91,5.51,16.86,11.67
5,2019-02-01,13.82,13.11,5.63,17.64,12.24
6,2019-01-01,13.68,12.99,5.67,17.29,11.96
7,2018-12-01,13.60,13.12,5.61,17.34,12.10
8,2018-11-01,14.17,13.78,5.77,18.17,12.04
9,2018-10-01,15.26,14.99,6.07,19.29,12.08
10,2018-09-01,16.10,16.07,6.07,19.28,13.07
11,2018-08-01,15.78,15.52,6.06,19.03,12.05
12,2018-07-01,16.22,16.05,6.29,19.38,13.34
13,2018-06-01,15.47,15.12,5.99,19.30,13.65
14,2018-05-01,14.32,13.71,6.55,18.52,12.27
15,2018-04-01,13.88,13.36,5.59,18.00,12.11
16,2018-03-01,13.84,13.37,5.49,17.53,12.28
17,2018-02-01,14.35,13.60,6.65,18.20,12.49
18,2018-01-01,14.68,14.43,6.39,17.75,10.36
19,2017-12-01,13.71,13.46,5.85,16.99,12.21
20,2017-11-01,14.00,13.91,5.76,17.80,12.21
21,2017-10-01,15.02,15.02,6.15,18.74,12.53
22,2017-09-01,15.73,16.13,6.19,18.80,13.36
23,2017-08-01,15.72,15.95,6.20,18.56,13.69
24,2017-07-01,15.91,16.10,5.92,18.79,13.61
25,2017-06-01,15.65,15.96,6.11,18.74,13.77
26,2017-05-01,14.61,14.54,6.20,18.53,12.85
27,2017-04-01,13.76,13.78,5.87,17.30,11.92
28,2017-03-01,14.16,14.20,5.87,17.02,12.14
29,2017-02-01,13.77,13.42,4.98,17.48,11.92
...,...,...,...,...,...,...
193,2003-06-01,12.81,13.44,7.03,14.98,9.69
194,2003-05-01,12.34,12.82,7.02,14.77,9.27
195,2003-04-01,12.51,12.97,7.59,14.55,9.45
196,2003-03-01,12.15,12.43,7.60,13.91,9.32
197,2003-02-01,11.53,11.69,7.46,13.30,9.03
198,2003-01-01,11.05,11.01,7.24,12.77,8.82
199,2002-12-01,10.84,11.83,4.94,13.19,0.00
200,2002-11-01,10.54,11.55,4.92,13.37,0.00
201,2002-10-01,11.49,12.92,5.34,13.87,0.00
202,2002-09-01,11.77,13.07,5.13,14.42,0.00
203,2002-08-01,12.16,13.58,5.23,14.16,0.00
204,2002-07-01,12.29,13.89,5.34,14.19,0.00
205,2002-06-01,11.52,12.72,5.58,14.01,0.00
206,2002-05-01,10.69,11.77,5.17,13.30,0.00
207,2002-04-01,10.45,11.66,5.06,12.69,0.00
208,2002-03-01,10.53,11.53,5.16,12.81,0.00
209,2002-02-01,10.33,11.18,4.81,13.00,0.00
210,2002-01-01,10.67,11.45,5.47,12.95,0.00
211,2001-12-01,10.87,11.79,5.38,13.25,0.00
212,2001-11-01,10.61,11.66,5.18,13.53,0.00
213,2001-10-01,11.83,13.74,5.30,14.22,0.00
214,2001-09-01,12.02,13.95,5.39,14.23,0.00
215,2001-08-01,12.69,14.74,6.03,14.61,0.00
216,2001-07-01,13.26,14.55,6.55,14.99,0.00
217,2001-06-01,11.46,12.72,5.48,14.41,0.00
218,2001-05-01,10.97,11.88,5.45,14.01,0.00
219,2001-04-01,10.70,11.49,5.59,13.44,0.00
220,2001-03-01,11.01,12.09,5.36,13.58,0.00
221,2001-02-01,11.17,12.31,5.72,13.93,0.00
222,2001-01-01,11.53,12.70,5.50,13.89,0.00

In [102]:
df_merged.to_sql(con=database_connection, name='NY_retail_price_by_sector', if_exists='replace')

Close all connections

In [123]:
cursor.close()
cnx.close()